{% extends 'base.html' %}
{% block content %}

<div class="shadow p-3 mb-5 bg-body rounded">
	<form method='POST' action='/confirm  '>
		{% for message in get_flashed_messages() %} 
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<p>
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="fas fa-times"></span></button>
				</p>
			</div>
		{% endfor %}
		<h2>confirm you wish to permanently delete {{ name }} by typing {{ name }} below</h2>
		<div class="row">
			{{ form.todelete.label(class="form-label") }}
			{{ form.todelete(class="form-control") }}	
		</div>
		<div class="row button-row">
			{{ form.confirm (class="button primary")}} 
			{{ form.cancel (class="button secondary")}}
		</div>
		
	</form>
</div>
{% endblock %}