{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% if games %}
<form action=''>
{% for game in games %}
<div>{{game}}</div>
<a href="{{ url_for('main.notes', id=game.id) }}"><img src={{game.imglink}}></a>
<div>{{game.name}}</div>
{% endfor %}
</form>
{% endif %}
{% endblock %} 