{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div role="alert">
            {{ message }}
            <button type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endwith %}
{% if games %}
{% for game in games %}
<div>{{game.name}}</div>
<a href="{{ url_for('main.join', id=game.id) }}"><img src="{{game.image}}"></a>
{% endfor %}
{% else %}
<h2>Looks like there aren't any games available yet. You should 
    <a href="{{ url_for('main.create') }}" >make one!</a>
</h2>
{% endif %}

{% endblock %}