{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='js/join.js') }}"></script>
        

<div class="container">
    
    <div class="app-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container">
                    <div class="alert {{ category }} alert-dismissible fade show" role="alert">
                        <p>
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="fas fa-times"></span></button>
                        </p>
                        
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        {% if games %}
            <h1>Public Games</h1>
        {% endif %}

        {% if games %}
            <div class="games">
                
                <div class="game">
                    <p>Choose a game to get started</p>

                    <ul>
                        {% for game in games %}
                            <li id="selectGame_{{game.id}}" class="select_game">
                                <a>
                                    <img class="index_game_image" src="{{game.image}}">
                                    {{game.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                        
                </div>
            </div>
        {% else %}
        <div class="welcome">
            <h2><span>Uh Oh!</span> </h2>
            <p>YLooks like there aren't any games available yet. You should <a href="{{ url_for('main.create') }}" >make one!</a></p>
        </div>
        {% endif %}
    </div>
</div>
{% if games %}

    {% for game in games %}

        <div id="confirmCard_{{game.id}}" class="confirm_card hidden shroud">
            <div class="modal-container">
                <div class="modal">
                    <img src="{{game.image}}">
                    <div class="content">
                        <h2><span>{{game.name}}</span></h2>
                        <p>Join this game?</p>
                        <div class="button-row">
                            <a class="game_cancel button secondary">Cancel</a>
                            <a class="game_confirm button primary" href="{{ url_for('main.join', id_=game.id) }}" >Confirm</a>
                        </div>
                        
                    </div> 
                </div>
            </div>
        </div>

    {% endfor %}

{% endif %}

{% endblock %}