{% extends "base.html" %}

{% block content %}

<h3>Login</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert {{ fail }} alert-dismissible fade show" role="alert">
    <div>
        {{ messages[0] }}
    </div>
</div>
{% endif %}
{% endwith %}
</br>
<h1>Don't have an account? <a href="{{ url_for('auth.register') }}">Make one!</a></h1>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        </div>
        
        <div>
            {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        </div>
        
        <div>
            {{ form.remember.label(class="form-label") }}
        {{ form.remember }}
        </div>
        
        <div>
            {{ form.submit(class="button primary") }}
        </div>
        
    </form>
</div>

{% endblock %}