{% extends "base.html" %}

{% block content %}

<h3>Login</h3>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
</div>
</br>
<div class="shadow p-3 mb-5 bg-body rounded"></div>
    <form method="POST" action="/login">
        {{ form.hidden_tag() }}
    </br>
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    </br>
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    </br>
    {{ form.remember.label(class="form-label") }}
    {{ form.remember }}
    </br>
    {{ form.submit(class="btn btn-secondary") }}

    </form>
</div>

{% endblock %}