<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="/static/MMstyles.css" rel="stylesheet">

        <title>Mad Mage: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav> 
            <a href="/">MAD MAGE</a>
            <div>  
                    <ul>
                        <li><a href="/characters"> Player Characters</a></li>
                        <li><a href="/npc">NPCs</a></li>
                {% if session.user_id %}
                        <li><a href="/notes">Personal Notes</a></li>
                    </ul>
                    <ul>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main>
            {% block main %}{% endblock %}
        </main>
    </body>

</html>