<nav>
    <ul>
        <li>
            <a class="home-logo" href="{{ url_for('main.index') }}">ςняοηιςℓεя</a>
        </li>
    </ul>
    {% if current_user.is_authenticated %}
    <ul>
        <li><a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a></li>
        <li><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
    </ul>
    {% else %}
    <ul>
        <li><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
    </ul>
    {% endif %}
</nav>



<!-- <ul class="navbar-nav mr-auto">
    {% if current_user.id == 1 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.test_tables') }}">Test Tables</a>
    </li>
    {% endif %}
</ul> -->