{% extends 'base.html' %}
{% block content %}

    <script type="text/javascript" charset="utf-8">
    document.addEventListener("DOMContentLoaded", function(event) {
        reveal = document.getElementById('reveal')
        hash = document.getElementById('hash')
        confirm = document.getElementById('confirm')
        document.getElementById('reveal').onclick = function() {
            if (reveal.checked) {
                hash.type = 'text'
                confirm.type = 'text'
            } else {
                hash.type = 'password'
                confirm.type = 'password'
            }
        }
    })
    </script>
<div class="container">
    <div class="form-container">
        <form method='POST'>
            <h1>Register</h1>

            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="fas fa-times"></span></button>
                    </p>   
                    
                </div>
            {% endfor %}

            {{ form.hidden_tag() }}
            <div class="row">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="row">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="row">
                {{ form.hash.label(class="form-label") }}
                {{ form.hash(class="form-control") }}
            </div>
            
            <div class="row">
                {{ form.confirm.label(class="form-label") }}
                {{ form.confirm(class="form-control") }}
                
            </div>
            <div class="row checkbox">
                {{ form.reveal }} {{ form.reveal.label}}
            </div>
            <div class="row">
                {{ form.usersubmit(class="button primary") }}
            </div>
            <h6>Already Registered? <a href="{{ url_for('auth.login') }}">Sign-in!</a></h6>
        </form>
    </div>
</div>
{% endblock %}