{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" charset="utf-8">
    document.addEventListener("DOMContentLoaded", function(event) {
        reveal = document.getElementById('reveal')
        hash = document.getElementById('hash')
        confirm = document.getElementById('confirm')
        document.getElementById('reveal').onclick = function () {
            if (reveal.checked) {
                hash.type = 'text'
                confirm.type = 'text'
            } else {
                hash.type = 'password'
                confirm.type = 'password'
            }
        }
    })
</script>


    
{% for message  in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

    <h1>Register</h1>
    <h2>Already Registered? <a href="{{ url_for('auth.login') }}">Sign-in!</a></h2> 
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form method='POST'>
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        <br/>
        {{ form.hash.label(class="form-label") }}
        {{ form.hash(class="form-control") }}
        <br/>
        {{ form.confirm.label(class="form-label") }}
        {{ form.confirm(class="form-control") }}{{ form.reveal }}  {{ form.reveal.label}}
        <br/>
        {{ form.usersubmit(class="btn btn-secondary") }}

    </form>
    </div>

<br/><br/><br/>
{% endblock %}
