{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
<h2>Users</h2>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table class="table table-hover table-bordered table-striped">
    <tr>
       {% for head in userheads %}
       <th> {{ head }} </th>
       {% endfor %}
    </tr>
    {% if users %}
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.hash }}</td>
            <td>{{ user.realname }}</td>
            <td>{{ user.date_added }}</td>
        </tr>
    {% endfor %}
</table>
    <h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.user_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    <h3>Add</h3>
        <form  method='POST'>
            {{ userform.hidden_tag() }}
            {{ userform.name.label }}
            {{ userform.name }}
            <br/>
            {{ userform.email.label }}
            {{ userform.email }}
            <br/>
            {{ userform.hash.label }}
            {{ userform.hash }}
            <br/>
            {{ userform.realname.label }}
            {{ userform.realname }}
            <br/>
            {{ userform.usersubmit }}
        </form>
    {% endif %}
</div>

    <h2>Games</h2>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in gameheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
    {% if games %}
    {% for game in games %}
        <tr>
            <td>{{ game.id }}</td>
            <td>{{ game.name }}</td>
            <td>{{ game.imglink }}</td>
            <td>{{ game.sessions }}</td>
            <td>{{ game.secret }}</td>
            <td>{{ game.date_added }}</td>
            <td>{{ game.dm_id }}</td>
        </tr>
    {% endfor %}
    {% endif %}
</table>

<h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.game_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    <h3>Add</h3>
        <form  method='POST'>
            {{ gameform.hidden_tag() }}
            {{ gameform.name.label }}
            {{ gameform.name }}
            <br/>
            {{ gameform.imglink.label }}
            {{ gameform.imglink }}
            <br/>
            {{ gameform.sessions.label }}
            {{ gameform.sessions }}
            <br/>
            {{ gameform.secret.label }}
            {{ gameform.secret }}
            <br/>
            {{ gameform.dm_id.label }}
            {{ gameform.dm_id }}
            <br/>
            {{ gameform.gamesubmit }}
        </form>
</div>



<h2>Characters</h2>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in charheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
{% if characters %}
{% for char in characters %}
<tr>
    <td>{{ char.id }}</td>
    <td>{{ char.name }}</td>
    <td>{{ char.imglink }}</td>
    <td>{{ char.bio }}</td>
    <td>{{ char.platinum }}</td>
    <td>{{ char.gold }}</td>
    <td>{{ char.electrum }}</td>
    <td>{{ char.silver }}</td>
    <td>{{ char.copper }}</td>
    <td>{{ char.experience }}</td>
    <td>{{ char.strength }}</td>
    <td>{{ char.dexterity }}</td>
    <td>{{ char.constitution }}</td>
    <td>{{ char.intelligence }}</td>
    <td>{{ char.wisdom }}</td>
    <td>{{ char.charisma }}</td>
    <td>{{ char.date_added }}</td>
    <td>{{ char.user_id }}</td>
    <td>{{ char.game_id }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
<h3>Delete?</h3>
<form method='POST' action='/confirming'>
    {{ delform.character_group_id }}
{{ delform.submit(class="btn btn-secondary") }}
</form>
<h3>Add</h3>
<form  method='POST'>
    {{ charform.hidden_tag() }}
    {{ charform.name.label }}
    {{ charform.name }}
    <br/>
    {{ charform.imglink.label }}
    {{ charform.imglink }}
    <br/>
    {{ charform.bio.label }}
    {{ charform.bio }}
    <br/>
    {{ charform.platinum.label }}
    {{ charform.platinum }}
    <br/>
    {{ charform.gold.label }}
    {{ charform.gold }}
    <br/>
    {{ charform.silver.label }}
    {{ charform.silver }}
    <br/>
    {{ charform.copper.label }}
    {{ charform.copper }}
    <br/>
    {{ charform.experience.label }}
    {{ charform.experience }}
    <br/>
    {{ charform.strength.label }}
    {{ charform.strength }}
    <br/>
    {{ charform.dexterity.label }}
    {{ charform.dexterity }}
    <br/>
    {{ charform.constitution.label }}
    {{ charform.constitution }}
    <br/>
    {{ charform.wisdom.label }}
    {{ charform.wisdom }}
    <br/>
    {{ charform.intelligence.label }}
    {{ charform.intelligence }}
    <br/>
    {{ charform.charisma.label }}
    {{ charform.charisma }}
    <br/>
    {{ charform.user_id.label }}
    {{ charform.user_id }}
    <br/>
    {{ charform.game_id.label }}
    {{ charform.game_id }}
    <br/>
    {{ charform.charsubmit }}
</form>
</div>


<h2>NPCs</h2>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in npcheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
{% if npcs %}
{% for npc in npcs %}
    <tr>
        <td>{{ npc.id }}</td>
        <td>{{ npc.name }}</td>
        <td>{{ npc.secret_name }}</td>
        <td>{{ npc.bio }}</td>
        <td>{{ npc.secret_bio }}</td>
        <td>{{ npc.date_added }}</td>
        <td>{{ npc.game_id }}</td>
        <td>{{ npc.place_id }}</td>
    </tr>
{% endfor %}
{% endif %}
</table>
<h3>Delete?</h3>
<form method='POST' action='/confirming'>
    {{ delform.npc_group_id }}
{{ delform.submit(class="btn btn-secondary") }}
</form>
<h3>Add</h3>
<form  method='POST'>
    {{ npcform.hidden_tag() }}
    {{ npcform.name.label }}
    {{ npcform.name }}
    <br/>
    {{ npcform.secret_name.label }}
    {{ npcform.secret_name }}
    <br/>
    {{ npcform.bio.label }}
    {{ npcform.bio }}
    <br/>
    {{ npcform.secret_bio.label }}
    {{ npcform.secret_bio }}
    <br/>
    {{ npcform.game_id.label }}
    {{ npcform.game_id }}
    <br/>
    {{ npcform.place_id.label }}
    {{ npcform.place_id }}
    <br/>
    {{ npcform.npcsubmit }}
</form>
</div>

<h2>Places</h2>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in placeheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
{% if places %}
{% for place in places %}
<tr>
    <td>{{ place.id }}</td>
    <td>{{ place.name }}</td>
    <td>{{ place.bio }}</td>
    <td>{{ place.secret_bio }}</td>
    <td>{{ place.date_added }}</td>
    <td>{{ place.game_id }}</td>
    <td>{{ place.NPCs }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
<h3>Delete?</h3>
<form method='POST' action='/confirming'>
    {{ delform.place_group_id }}
{{ delform.submit(class="btn btn-secondary") }}
</form>
<h3>Add</h3>
<form  method='POST'>
    {{ placeform.hidden_tag() }}
    {{ placeform.name.label }}
    {{ placeform.name }}
    <br/>
    {{ placeform.bio.label }}
    {{ placeform.bio }}
    <br/>
    {{ placeform.secret_bio.label }}
    {{ placeform.secret_bio }}
    <br/>
    {{ placeform.game_id.label }}
    {{ placeform.game_id }}
    <br/>
    {{ placeform.placesubmit }}
</form>
</div>

<h2>Loot</h2>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
    <table class="table table-hover table-bordered table-striped">
        <tr>
            {% for head in lootheads %}
            <th> {{ head }} </th>
            {% endfor %}
        </tr>
    {% if loots %}
    {% for loot in loots %}
    <tr>
        <td>{{ loot.id }}</td>
        <td>{{ loot.name }}</td>
        <td>{{ loot.bio }}</td>
        <td>{{ loot.copper_value }}</td>
        <td>{{ loot.date_added }}</td>
        <td>{{ loot.owner_id }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </table>
    <h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.loot_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    <h3>Add</h3>
    <form  method='POST'>
        {{ lootform.hidden_tag() }}
        {{ lootform.name.label }}
        {{ lootform.name }}
        <br/>
        {{ lootform.bio.label }}
        {{ lootform.bio }}
        <br/>
        {{ lootform.copper_value.label }}
        {{ lootform.copper_value }}
        <br/>
        {{ lootform.owner_id.label }}
        {{ lootform.owner_id }}
        <br/>
        {{ lootform.lootsubmit }}
    </form>
</div>

<h2>Notes</h2>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
    <table class="table table-hover table-bordered table-striped">
        <tr>
            {% for head in noteheads %}
            <th> {{ head }} </th>
            {% endfor %}
        </tr>
    {% if notes %}
    {% for note in notes %}
    <tr>
        <td>{{ note.id }}</td>
        <td>{{ note.note }}</td>
        <td>{{ note.session_id }}</td>
        <td>{{ note.private }}</td>
        <td>{{ note.in_characer }}</td>
        <td>{{ note.date_added }}</td>
        <td>{{ note.character }}</td>
        <td>{{ note.game_id }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </table>
    <h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.note_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    <h3>Add</h3>
    <form  method='POST'>
        {{ noteform.hidden_tag() }}
        {{ noteform.note.label }}
        {{ noteform.note }}
        <br/>
        {{ noteform.private.label }}
        {{ noteform.private }}
        <br/>
        {{ noteform.in_character.label }}
        {{ noteform.in_character }}
        <br/>
        {{ noteform.session.label }}
        {{ noteform.session }}
        <br/>
        {{ noteform.character.label }}
        {{ noteform.character }}
        <br/>
        {{ noteform.game.label }}
        {{ noteform.game }}
        <br/>
        {{ noteform.notesubmit }}
    </form>
</div>
{% endblock %}