{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
<h2>Users</h2>
<table class="table table-hover table-bordered table-striped">
    <tr>
       {% for head in userheads %}
       <th> {{ head }} </th>
       {% endfor %}
    </tr>
    {% if users %}
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.hash }}</td>
            <td>{{ user.realname }}</td>
            <td>{{ user.date_added }}</td>
        </tr>
    {% endfor %}
    </table>
    <h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.group_id }}
    </br>
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
</br>
    <h3>Add</h3>
        <form  method='POST'>
            {{ userform.username.label }}
            {{ userform.username }}
            <br/>
            {{ userform.email.label }}
            {{ userform.email }}
            <br/>
            {{ userform.hash.label }}
            {{ userform.hash }}
            <br/>
            {{ userform.realname.label }}
            {{ userform.realname }}
            <br/>
            {{ userform.submit }}
        </form>
    {% endif %}


    </br>
</br>
</br>

    <h2>Games</h2>
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in gameheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
{% if games %}
{% endif %}
</table>

</br>

<h2>Characters</h2>
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in charheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
{% if characters %}
{% endif %}
</table>

<h2>NPCs</h2>
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in npcheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
{% if npcs %}
{% endif %}
</table>

</br>

<h2>Places</h2>
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in placeheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
{% if places %}
{% endif %}
</table>

</br>

<h2>Loot</h2>
<table class="table table-hover table-bordered table-striped">
    <tr>
        {% for head in lootheads %}
        <th> {{ head }} </th>
        {% endfor %}
    </tr>
{% if loot %}
{% endif %}
</table>

</br>
{% endblock %}