{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" charset="utf-8">
    document.addEventListener("DOMContentLoaded", function(event) {


        var user_form_deployed = false
        , players_form_deployed = false
        , game_form_deployed = false
        , character_form_deployed = false
        , npc_form_deployed = false
        , place_form_deployed = false
        , loot_form_deployed = false
        , note_form_deployed = false
        , session_form_deployed = false

        var users=document.getElementById('user_table')
        var players=document.getElementById('players_table')
        var games=document.getElementById('games_table')
        var characaters=document.getElementById('characaters_table')
        var npc=document.getElementById('npc_table')
        var places=document.getElementById('places_table')
        var loot=document.getElementById('loot_table')
        var notes=document.getElementById('notes_table')
        var sessions=document.getElementById('sessions_table')

        document.getElementById("make_user_table").onclick = function () {
            const user_table = document.getElementById('user_table')

            if (user_form_deployed == false) {
                {% if users %}
                    var userlist=[];
                    {% for user in users %}
                        var itemlist=[{{user.id|tojson}}, {{user.name|tojson}}, {{user.email|tojson}}, {{user.hash|tojson}}, {{user.realname|tojson}}, {{user.date_added|tojson}}]
                        userlist.push(itemlist)
                    {% endfor %}
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "user_heads")
                    {% for head in userheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<userlist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("user"+userlist[i][0]))
                        for (let j=0; j<userlist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(userlist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    for (let i=0;i<rows_reverse.length;i++) {
                        user_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    user_form_deployed = true

                {% endif %}
            } else {
                user_table.innerHTML = ''
                user_form_deployed = false
            }
        }



        document.getElementById("make_players_table").onclick = function () {
            const players_table = document.getElementById('players_table')

            if (players_form_deployed == false) {
                    console.log('test')
                    var playerslist=[];
                    {% for player in players %}
                        var itemlist=[{{player.id|tojson}}, {{player.users_id|tojson}}, {{player.games_id|tojson}}]
                        playerslist.push(itemlist)
                    {% endfor %}
                    console.log(itemlist)
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "players_heads")
                    {% for head in playersheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<playerslist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("players"+playerslist[i][0]))
                        for (let j=0; j<playerslist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(playerslist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    console.log(rows_reverse)
                    for (let i=0;i<rows_reverse.length;i++) {
                        players_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    players_form_deployed = true

            } else {
                players_table.innerHTML = ''
                players_form_deployed = false
            }
        }


        document.getElementById("make_game_table").onclick = function () {
            const games_table = document.getElementById('game_table')

            if (game_form_deployed == false) {
                    var gamelist=[];
                    {% for game in games %}
                        var itemlist=[{{game.id|tojson}}, {{game.name|tojson}}, {{game.imglink|tojson}}, {{game.secret|tojson}}, {{game.published|tojson}},{{game.date_added|tojson}}, {{game.dm_id|tojson}}]
                        gamelist.push(itemlist)
                    {% endfor %}
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "game_heads")
                    {% for head in gameheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<gamelist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("game"+gamelist[i][0]))
                        for (let j=0; j<gamelist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(gamelist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    for (let i=0;i<rows_reverse.length;i++) {
                        game_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    game_form_deployed = true

            } else {
                game_table.innerHTML = ''
                game_form_deployed = false
            }
        }


        document.getElementById("make_character_table").onclick = function () {
            const characters_table = document.getElementById('character_table')

            if (character_form_deployed == false) {
                    var characterlist=[];
                    {% for character in characters %}
                        var itemlist=[{{character.id|tojson}}, {{character.name|tojson}}, {{character.imglink|tojson}}, {{character.bio|tojson}}, {{character.platinum|tojson}}, {{character.gold|tojson}}, {{character.electrum|tojson}}, {{character.silver|tojson}}, {{character.copper|tojson}}, {{character.experience|tojson}}, {{character.strength|tojson}}, {{character.dexterity|tojson}}, {{character.constitution|tojson}}, {{character.intelligence|tojson}}, {{character.wisdom|tojson}}, {{character.charisma|tojson}}, {{character.date_added|tojson}}, {{character.user_id|tojson}}, {{character.game_id|tojson}}]
                        characterlist.push(itemlist)
                    {% endfor %}
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "character_heads")
                    {% for head in characterheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<characterlist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("character"+characterlist[i][0]))
                        for (let j=0; j<characterlist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(characterlist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    for (let i=0;i<rows_reverse.length;i++) {
                        character_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    character_form_deployed = true

            } else {
                character_table.innerHTML = ''
                character_form_deployed = false
            }
        }


        document.getElementById("make_npc_table").onclick = function () {
            const npcs_table = document.getElementById('npc_table')

            if (npc_form_deployed == false) {
                    var npclist=[];
                    {% for npc in npcs %}
                        var itemlist=[{{npc.id|tojson}}, {{npc.name|tojson}}, {{npc.secret_name|tojson}}, {{npc.bio|tojson}}, {{npc.secret_bio|tojson}}, {{npc.date_added|tojson}}, {{npc.game_id|tojson}}, {{npc.place_id|tojson}}]
                        npclist.push(itemlist)
                    {% endfor %}
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "npc_heads")
                    {% for head in npcheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<npclist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("npc"+npclist[i][0]))
                        for (let j=0; j<npclist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(npclist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    for (let i=0;i<rows_reverse.length;i++) {
                        npc_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    npc_form_deployed = true

            } else {
                npc_table.innerHTML = ''
                npc_form_deployed = false
            }
        }



        document.getElementById("make_place_table").onclick = function () {
            const places_table = document.getElementById('place_table')

            if (place_form_deployed == false) {
                    var placelist=[];
                    {% for place in places %}
                        var itemlist=[{{place.id|tojson}}, {{place.name|tojson}}, {{place.bio|tojson}}, {{place.secret_bio|tojson}}, {{place.date_added|tojson}}, {{place.game_id|tojson}}, {{place.NPCs|tojson}}]
                        placelist.push(itemlist)
                    {% endfor %}
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "place_heads")
                    {% for head in placeheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<placelist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("place"+placelist[i][0]))
                        for (let j=0; j<placelist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(placelist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    for (let i=0;i<rows_reverse.length;i++) {
                        place_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    place_form_deployed = true

            } else {
                place_table.innerHTML = ''
                place_form_deployed = false
            }
        }



        document.getElementById("make_loot_table").onclick = function () {
            const loots_table = document.getElementById('loot_table')

            if (loot_form_deployed == false) {
                    var lootlist=[];
                    {% for loot in loots %}
                        var itemlist=[{{loot.id|tojson}}, {{loot.name|tojson}}, {{loot.bio|tojson}}, {{loot.copper_value|tojson}}, {{loot.date_added|tojson}}, {{loot.owner_id|tojson}}]
                        lootlist.push(itemlist)
                    {% endfor %}
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "loot_heads")
                    {% for head in lootheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<lootlist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("loot"+lootlist[i][0]))
                        for (let j=0; j<lootlist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(lootlist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    for (let i=0;i<rows_reverse.length;i++) {
                        loot_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    loot_form_deployed = true

            } else {
                loot_table.innerHTML = ''
                loot_form_deployed = false
            }
        }




        document.getElementById("make_note_table").onclick = function () {
            const notes_table = document.getElementById('note_table')

            if (note_form_deployed == false) {
                    var notelist=[];
                    {% for note in notes %}
                        var itemlist=[{{note.id|tojson}}, {{note.charname|tojson}}, {{note.note|tojson}}, {{note.session_number|tojson}}, {{note.private|tojson}}, {{note.in_character|tojson}}, {{note.date_added|tojson}}, {{note.character|tojson}}, {{note.game_id|tojson}}]
                        notelist.push(itemlist)
                    {% endfor %}
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "note_heads")
                    {% for head in noteheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<notelist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("note"+notelist[i][0]))
                        for (let j=0; j<notelist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(notelist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    for (let i=0;i<rows_reverse.length;i++) {
                        note_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    note_form_deployed = true

            } else {
                note_table.innerHTML = ''
                note_form_deployed = false
            }
        }




        document.getElementById("make_session_table").onclick = function () {
            const sessions_table = document.getElementById('session_table')

            if (session_form_deployed == false) {
                    var sessionlist=[];
                    {% for session in sessions %}
                        var itemlist=[{{session.id|tojson}}, {{session.number|tojson}}, {{session.title|tojson}}, {{session.synopsis|tojson}}, {{session.date_added|tojson}}, {{session.games_id|tojson}}]
                        sessionlist.push(itemlist)
                    {% endfor %}
                    var rows = [];
                    var new_row = document.createElement('tr')
                    new_row.setAttribute("id", "session_heads")
                    {% for head in sessionheads %}
                        var new_cell = document.createElement('td')
                        var cell_content = document.createTextNode('{{head}}')
                        new_cell.appendChild(cell_content)
                        new_row.appendChild(new_cell)
                    {% endfor %}
                    rows.push(new_row)
                    for (let i=0; i<sessionlist.length; i++) {
                        new_row = document.createElement('tr')
                        new_row.setAttribute("id", ("session"+sessionlist[i][0]))
                        for (let j=0; j<sessionlist[i].length; j++) {

                            new_cell = document.createElement('td')
                            cell_content = document.createTextNode(sessionlist[i][j])
                            new_cell.appendChild(cell_content)
                            new_row.appendChild(new_cell)
                        }
                        rows.push(new_row)
                    }
                    var rows_reverse = rows.reverse()
                    for (let i=0;i<rows_reverse.length;i++) {
                        session_table.insertAdjacentElement('afterbegin', rows_reverse[i])
                    }
                    session_form_deployed = true

            } else {
                session_table.innerHTML = ''
                session_form_deployed = false
            }
        }
    })
</script>

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
<h2>Users</h2>
<button id='make_user_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table id='user_table' class="table table-hover table-bordered table-striped">

</table>

<h3>Delete?</h3>
<form method='POST' action='/confirming'>
    {{ delform.user_group_id }}
{{ delform.submit(class="btn btn-secondary") }}
</form>
<h3>Add</h3>
    <form  method='POST'>
        {{ userform.hidden_tag() }}
        {{ userform.name.label }}
        {{ userform.name }}
        <br/>
        {{ userform.email.label }}
        {{ userform.email }}
        <br/>
        {{ userform.hash.label }}
        {{ userform.hash }}
        <br/>
        {{ userform.realname.label }}
        {{ userform.realname }}
        <br/>
        {{ userform.usersubmit }}
    </form>
</div>

<h2>players</h2>
<button id='make_players_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table id='players_table' class="table table-hover table-bordered table-striped">
</table>
    <h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.player_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    
    <h3>Add</h3>
        <form  method='POST'>
            {{ playerform.hidden_tag() }}
            {{ playerform.users_id.label }}
            {{ playerform.users_id }}
            <br/>
            {{ playerform.games_id.label }}
            {{ playerform.games_id }}

            <br/>
            {{ playerform.playersubmit }}
        </form>
</div>

    <h2>Games</h2>
<button id='make_game_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table id='game_table'class="table table-hover table-bordered table-striped">
</table>

<h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.game_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    <h3>Add</h3>
        <form  method='POST'>
            {{ gameform.hidden_tag() }}
            {{ gameform.name.label }}
            {{ gameform.name }}
            <br/>
            {{ gameform.imglink.label }}
            {{ gameform.imglink }}
            <br/>
            {{ gameform.sessions.label }}
            {{ gameform.sessions }}
            <br/>
            {{ gameform.secret.label }}
            {{ gameform.secret }}
            <br/>
            {{ gameform.dm_id.label }}
            {{ gameform.dm_id }}
            <br/>
            {{ gameform.gamesubmit }}
        </form>
</div>


<h2>Characters</h2>
<button id='make_character_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table id='character_table' class="table table-hover table-bordered table-striped">
</table>
<h3>Delete?</h3>
<form method='POST' action='/confirming'>
    {{ delform.character_group_id }}
{{ delform.submit(class="btn btn-secondary") }}
</form>
<h3>Add</h3>
<form  method='POST'>
    {{ charform.hidden_tag() }}
    {{ charform.name.label }}
    {{ charform.name }}
    <br/>
    {{ charform.imglink.label }}
    {{ charform.imglink }}
    <br/>
    {{ charform.bio.label }}
    {{ charform.bio }}
    <br/>
    {{ charform.platinum.label }}
    {{ charform.platinum }}
    <br/>
    {{ charform.gold.label }}
    {{ charform.gold }}
    <br/>
    {{ charform.silver.label }}
    {{ charform.silver }}
    <br/>
    {{ charform.copper.label }}
    {{ charform.copper }}
    <br/>
    {{ charform.experience.label }}
    {{ charform.experience }}
    <br/>
    {{ charform.strength.label }}
    {{ charform.strength }}
    <br/>
    {{ charform.dexterity.label }}
    {{ charform.dexterity }}
    <br/>
    {{ charform.constitution.label }}
    {{ charform.constitution }}
    <br/>
    {{ charform.wisdom.label }}
    {{ charform.wisdom }}
    <br/>
    {{ charform.intelligence.label }}
    {{ charform.intelligence }}
    <br/>
    {{ charform.charisma.label }}
    {{ charform.charisma }}
    <br/>
    {{ charform.user_id.label }}
    {{ charform.user_id }}
    <br/>
    {{ charform.game_id.label }}
    {{ charform.game_id }}
    <br/>
    {{ charform.charsubmit }}
</form>
</div>


<h2>NPCs</h2>
<button id='make_npc_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table id='npc_table'class="table table-hover table-bordered table-striped">
</table>
<h3>Delete?</h3>
<form method='POST' action='/confirming'>
    {{ delform.npc_group_id }}
{{ delform.submit(class="btn btn-secondary") }}
</form>
<h3>Add</h3>
<form  method='POST'>
    {{ npcform.hidden_tag() }}
    {{ npcform.name.label }}
    {{ npcform.name }}
    <br/>
    {{ npcform.secret_name.label }}
    {{ npcform.secret_name }}
    <br/>
    {{ npcform.bio.label }}
    {{ npcform.bio }}
    <br/>
    {{ npcform.secret_bio.label }}
    {{ npcform.secret_bio }}
    <br/>
    {{ npcform.game_id.label }}
    {{ npcform.game_id }}
    <br/>
    {{ npcform.place_id.label }}
    {{ npcform.place_id }}
    <br/>
    {{ npcform.npcsubmit }}
</form>
</div>

<h2>Places</h2>
<button id='make_place_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
<table id='place_table'class="table table-hover table-bordered table-striped">
</table>
<h3>Delete?</h3>
<form method='POST' action='/confirming'>
    {{ delform.place_group_id }}
{{ delform.submit(class="btn btn-secondary") }}
</form>
<h3>Add</h3>
<form  method='POST'>
    {{ placeform.hidden_tag() }}
    {{ placeform.name.label }}
    {{ placeform.name }}
    <br/>
    {{ placeform.bio.label }}
    {{ placeform.bio }}
    <br/>
    {{ placeform.secret_bio.label }}
    {{ placeform.secret_bio }}
    <br/>
    {{ placeform.game_id.label }}
    {{ placeform.game_id }}
    <br/>
    {{ placeform.placesubmit }}
</form>
</div>

<h2>Loot</h2>
<button id='make_loot_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
    <table id='loot_table'class="table table-hover table-bordered table-striped">
    </table>
    <h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.loot_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    <h3>Add</h3>
    <form  method='POST'>
        {{ lootform.hidden_tag() }}
        {{ lootform.name.label }}
        {{ lootform.name }}
        <br/>
        {{ lootform.bio.label }}
        {{ lootform.bio }}
        <br/>
        {{ lootform.copper_value.label }}
        {{ lootform.copper_value }}
        <br/>
        {{ lootform.owner_id.label }}
        {{ lootform.owner_id }}
        <br/>
        {{ lootform.lootsubmit }}
    </form>
</div>

<h2>Notes</h2>
<button id='make_note_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
    <table id='note_table' class="table table-hover table-bordered table-striped">
    </table>
    <h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.note_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    <h3>Add</h3>
    <form  method='POST'>
        {{ noteform.hidden_tag() }}
        {{ noteform.note.label }}
        {{ noteform.note }}
        <br/>
        {{ noteform.private.label }}
        {{ noteform.private }}
        <br/>
        {{ noteform.in_character.label }}
        {{ noteform.in_character }}
        <br/>
        {{ noteform.session_number.label }}
        {{ noteform.session_number }}
        <br/>
        {{ noteform.character.label }}
        {{ noteform.character }}
        <br/>
        {{ noteform.game_id.label }}
        {{ noteform.game_id }}
        <br/>
        {{ noteform.charname.label }}
        {{ noteform.charname }}
        <br/>
        {{ noteform.user_id.label }}
        {{ noteform.user_id }}
        <br/>
        {{ noteform.notesubmit }}
    </form>
</div>


<h2>Sessions</h2>
<button id='make_session_table'>Table</button>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
    <table id='session_table' class="table table-hover table-bordered table-striped">
    </table>
    <h3>Delete?</h3>
    <form method='POST' action='/confirming'>
        {{ delform.session_group_id }}
    {{ delform.submit(class="btn btn-secondary") }}
    </form>
    <h3>Add</h3>
    <form  method='POST'>
        {{ sessionform.hidden_tag() }}
        {{ sessionform.number.label }}
        {{ sessionform.number }}
        <br/>
        {{ sessionform.title.label }}
        {{ sessionform.title }}
        <br/>
        {{ sessionform.synopsis.label }}
        {{ sessionform.synopsis }}
        <br/>
        {{ sessionform.games_id.label }}
        {{ sessionform.games_id }}
        <br/>
        {{ sessionform.sessionsubmit }}
    </form>
</div>

<h2>Tests</h2>
<div class="border test-table shadow-lg p-3 mb-5 bg-light rounded">
    <table class="table table-hover table-bordered table-striped">
    {% if test %}
        {% for test in test %}
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.test }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}