{% extends "main/base.html" %}
{% block content %}
{% from "macros/render_field.html" import render_field %}

<div class="container">
    <div class="form-container">
        <form  enctype="multipart/form-data" method='POST' action='/create/character'>
            <h1>Create Character!</h1>
            {{ form.hidden_tag() }}
            {{ render_field(form.name) }}
            {{ render_field(form.img) }}  
            {{ render_field(form.bio) }}
            {{ render_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}
