{% extends 'base.html' %}
{% block content %}
            
<div class="container">
    <div class="form-container">
        
        <form  enctype="multipart/form-data" method='POST'>

            <h1>Create your game!</h1>
            <div class="row">
                {{ gameform.hidden_tag() }}
                {{ gameform.name.label }}
                {{ gameform.name }}
            </div>
            <div class="row">
                {{ gameform.img.label }}
                {{ gameform.img }}
            </div>
            <div class="row checkbox">
                {{ gameform.published }}
                {{ gameform.published.label }}
            </div>
            <div class="row">
                {{ gameform.gamesubmit (class="button primary")}}
            </div>
                
        </form>
    </div>
</div>
    


{% endblock %}