{% extends 'main/base.html' %}
{% block content %}
{% from "macros/render_field.html" import render_field %}
            
<div class="container">
    <div class="form-container">
        <form  enctype="multipart/form-data" method='POST'>

            <h1>Create your game!</h1>
            {{ gameform.hidden_tag() }}
            {{ render_field(gameform.name) }}
            {{ render_field(gameform.img) }}
            {{ render_field(gameform.published, check=true) }}
            {{ render_field(gameform.gamesubmit class='button primary') }}
        </form>
    </div>
</div>
    
{% endblock %}