project/node_modules/
.dockerignore
project/test.py
test.py
test2.py
project/ignored
project/templates/test.html
project/liteBON.db
project/utils
chronicler.egg-info
credits.txt
*.pyc
*.pyo
.env
/wslVenv
/venv
*/__pycache__
*__pycache__
*/.vscode
project/litechronicler.db
*.vscode