project/node_modules/
.dockerignore
project/test.py
test.py
test2.py
test3.py
*testing/
project/ignored
project/templates/test.html
project/templates/notes/test.html
project/liteBON.db
project/utils
chronicler.egg-info
credits.txt
*.pyc
*.pyo
.env
/wslVenv
/venv
*/__pycache__
*__pycache__
*/.vscode
project/litechronicler.db
*.vscode
*/.pytest_cache
.pytest_cache
notes.txt
latest.dump
notes.py

project/chronicler.code-workspace