// // =============================================================================
// //
// // Global Form Element Styles
// // 
// // =============================================================================

form {
    display: flex;
    flex-direction: column;
    gap: var(--md);
    background: var(--formBackground);
    padding: var(--lg) var(--lg);
    border-radius: var(--boxBorderRadius);
    -webkit-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        flex-grow: 1;

        &.checkbox,
        &.radio,
        &.button-row {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
        }
    }

    h1 {
        @include size-2();
        font-family: $display;
        font-weight: 500;
        text-align: center;
    }

    h6 {
        text-align: center;
        @include size-5();
    }

    p {
        @include size-5();
        color: var(--copyColor);
        margin: 0;
        text-align: center;
    }

    a {
        color: var(--linkColor);
        font-weight: 700;
    }
}

/* ------------------- */
/* Form Styles
/* ----------------- */


button,
input,
optgroup,
select,
keygen::-webkit-keygen-select,
select[_moz-type="-mozilla-keygen"],
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    margin-top: var(--sm);
}

label {
    display: block;
    @include size-5();
}

button,
input[type=button],
input[type=reset],
input[type=submit],
    {
    -webkit-appearance: button;
    cursor: pointer;
    @extend %button;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input {
    line-height: normal;
}

textarea {
    line-height: 1.25em;
}

select {
    border: var(--inputBorderColor);
    background-color: var(--inputBackground);
    color: var(--inputTextColor);
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin: 0 var(--xs) 0 0;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=month],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=week],
input[type=number],
input[type=search],
input[type=tel],
input[type=color],
select[_moz-type="-mozilla-keygen"],
keygen::-webkit-keygen-select,
select,
textarea {
    font-family: $sans;
    border: 1px solid var(--inputBorderColor);
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    padding: var(--xxs) var(--xs);
    margin: 0;
    background: var(--inputBackground);
    color: var(--inputTextColor);

    &:focus {
        outline: 2px solid var(--inputFocusBorder);
    }
    
}

input[type=color] {
    padding: 0;
}

input:not([type]) {
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5em 0.6em;
}

input[type=color] {
    padding: 0.2em 0.5em;
}

input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
    //outline: 1px auto #129FEA;
}

// input[readonly],
// select[readonly],
// textarea[readonly] {
//     background-color: #eee;
//     color: #777;
//     border-color: #ccc;
// }

*:focus {

    outline: none;

}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--inputPlaceholder);
}
input::-moz-placeholder { /* Firefox 19+ */
  color: var(--inputPlaceholder);
}
input:-ms-input-placeholder { /* IE 10+ */
  color: var(--inputPlaceholder);
}
input:-moz-placeholder { /* Firefox 18- */
  color: var(--inputPlaceholder);
}