// // =============================================================================
// //
// // Global headline and font size mixins
// //
// // =============================================================================


@mixin size-1 {
  font-family: $sans;
  font-weight: 500;
  font-stretch: normal;
  font-size: 2.54em;
  letter-spacing: -0.019em;
  line-height: 1.085;

  color: var(--headlineColor);

  @media screen and (min-width: $break1) {
    font-size: 3.322em;
  }
  b,
  strong {
    font-weight: 700;
  }
  em, i {
    font-style: italic;
  }
  strong i,
  strong em,
  b i,
  b em {
    font-weight: 700;
    font-style: italic;
  }


}

@mixin size-2 {
  font-family: $sans;
  font-weight: 500;
  font-stretch: normal;
  font-size: 2.250em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  max-width: 35ch;

  color: var(--headlineColor);

  @media screen and (min-width: $break1) {
    font-size: 2.54em;
  }
  b,
  strong {
    font-weight: 700;
  }
  em, i {
    font-style: italic;
  }
  strong i,
  strong em,
  b i,
  b em {
    font-weight: 700;
    font-style: italic;
  }


}
@mixin size-3 {
  font-family: $sans;
  font-weight: 500;
  font-stretch: normal;
  font-size: 1.063em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  max-width: 35ch;

  color: var(--headlineColor);

  b,
  strong {
    font-weight: 700;
  }
  em, i {
    font-style: italic;
  }
  strong i,
  strong em,
  b i,
  b em {
    font-weight: 700;
    font-style: italic;
  }

}
@mixin size-4 {
  font-family: $serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 0.938em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  max-width: 35ch;

  color: var(--copyColor);

  b,
  strong {
    font-weight: 700;
  }
  em, i {
    font-style: italic;
  }
  strong i,
  strong em,
  b i,
  b em {
    font-weight: 700;
    font-style: italic;
  }

}
@mixin size-5 { 
  font-family: $sans;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 0.813em;
  letter-spacing: 0;
  line-height: 1.333;
  max-width: 75ch;

  b,
  strong {
    font-weight: 700;
  }
  em, i {
    font-style: italic;
  }
  strong i,
  strong em,
  b i,
  b em {
    font-weight: 700;
    font-style: italic;
  }


}
@mixin size-6 { 
  font-family: $serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 0.688em;
  letter-spacing: 0;
  line-height: 1.333;
  max-width: 75ch;

  b,
  strong {
    font-weight: 700;
  }
  em, i {
    font-style: italic;
  }
  strong i,
  strong em,
  b i,
  b em {
    font-weight: 700;
    font-style: italic;
  }
}
