<li class="span_cont" data-id_noteCont="{{ note.id }}">
    <span class="span_cont note-item">
        <span class="note-author">
            <div class="author-image {{ note.charname }}" style="background-image: url('{{ note.char_img }}');"></div>
        </span>
        {% if note.private == True %}
        <span class="note-content note-private">
            <h4><span class="far fa-eye-slash"></span> Only you can see this</h4>
        {% elif note.to_dm == True %}
        <span class="note-content note-dm">
            {% if current_user.id != game.dm_id %}
            <h4><span class="far fa-eye-slash"></span> Only you and the DM can see this</h4>
            {% else %}
            <h4><span class="far fa-lock-alt"></span> This note is DM only</h4>
            {% endif %}
        {% else %}
        <span class="note-content">
        {% endif %}
            <h3>{{ note.charname }}:</h3>
            <span class="note-ql" data-id_noteText="{{ note.id }}">
            </span>
        </span>
        {% if note.user_id == current_user.id or note.user_id == tutorial_id %}
        {% include 'notes/widgets/edit_button.html' %}
        {% endif %}
        {% include 'notes/widgets/edit_quill.html' %}
        {% include 'notes/widgets/note_context_menu.html' %}
    </span>
</li>