{% extends "base.html" %}
{% block content %}

{% include 'main/flash.html' %}

<div class="container">
    <div class="app-container">
        <h1>Edit Games</h1>
        <div class="games">
        <a class="new-game button primary" href="{{ url_for('edit.add_remove', game_id=game.id) }}">
            <span class="fas fa-search-location"></span> Add/Remove Character
        </a>

        <a class="new-game button primary" href="{{ url_for('edit.leave', game_id=game.id
        ) }}">
            <span class="fas fa-search-location"></span> Leave Game
        </a>  
    </div>  
    </div>
</div>


{% endblock %}