{% extends "main/base.html" %}
{% block content %}
<div class="container">
    <div class="app-container">
        <h1>Player</h1>
        <div class="games">
            <div class="game">
                <h2>Edit games</h2>
                {% if player_games %}
                <ul>
                {% for game in player_games %}
                    <li>
                        <a href="{{ url_for('profile.player', game_id=game.id) }}">
                            <img class="index_game_image" src="{{game.image}}">
                            <span>
                                <h3>{{game.name}}</h3>
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>You don't appear to have joined any games yet.</p>
                {% endif %}
            </div>
            <div class="game"></div>
            <!-- <a class="new-game button primary" href="{{ url_for('join.game') }}">
                <span class="far fa-plus-square"></span> Join a new game
            </a> -->
            <a class="" href="{{ url_for('profile.dashboard') }}"><span class="fa fa-solid fa-arrow-left"></span> Back to profile
                </a>
        </div>
    </div>
</div>
{% endblock %}
