<form class="wysiwyg-form" data-flag="newQuill_FormSession" id="test_form_quill">
    <div class="form-group">
    <input type="hidden" id='note_user_id' name='note_user_id' value='{{current_user.id}}'>
    <input type="hidden" id='note_game_id' name='note_game_id' value='{{id}}'>
    <div id="Quill_sessionNew">
    </div>
    </div>
    <div class="form-group">
        <div class="row checkbox">
            <input type='checkbox' class="note_checkbox" data-flag="newQuillPrivate" name='note_private' value='False'>
            <label for='note_private'><strong>Draft</strong> - Visible only to you until published</label>
        </div>
        {% if current_user.id != game.dm_id %}
        <div class="row checkbox">
            <input type='checkbox' class="note_checkbox" data-flag="newQuillDm" name='note_to_dm' value='False'>
            <label for='note_to_dm'><strong>Privileged</strong> - Visible only to you and the DM</label>
        </div>
        {% endif %}
        <div class="row button-row">
            <button class="button primary" type="submit">Submit</button>
        </div>
    </div>
</form>