{# endignore session #}
{# translate_section session card #}

<div class="session-container hidden" data-flag="session_cont" data-number_sessionCont="{{ session.number }}">
    <h2>Session {{ session.number }}: {{ session.title }}</h2>
    <div>
        <!-- Session Notes -->
        <ul class="note_list" data-idSession="{{ session.number }}">
{# socket_ignore session #}
            {% for note in note_dict[session.number] %}
                {% include 'notes/note_logic.html' %}
            {% endfor %}
{# endignore session #}
        </ul>
    </div>
</div>
{# endsection session #}
{# end_translate_hook session #}