{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/edit/game_player/add_remove.js') }}"></script>
<img src="{{game.image}}">
<div>
    <h1>{{game.name}}</h1>
        <a data-reveal="add" class="button primary">Add Character</a>
        <div data-revealed="add" class="hidden form-container">

            {% if addform.character.choices and addform.character.choices|length > 0 %}
            <form method='POST'>
                <h1>Add Character From Your Characters</h1>
                {{ addform.hidden_tag() }}
                {{ render_field(addform.character) }}
                {{ render_field(addform.submit) }}
            </form>
            <h1>or</h1>
            {% endif %}

            <form enctype="multipart/form-data" method='POST'>
                <h1>Create a New Character for {{game.name}}!</h1>
                {{ charform.hidden_tag() }}
                {{ render_field(charform.name) }}
                {{ render_field(charform.img) }}
                {{ render_field(charform.bio) }}
                {{ render_field(charform.submit) }}
            </form>
        </div>

        {% if removeform.characters.choices and removeform.characters.choices|length > 0 %}
        <a data-reveal="rm" class="button primary">Remove Character</a>
        <div data-revealed="rm" class="hidden form-container">
            <form method='POST'>
                <h1>Remove Character</h1>
                {{ removeform.hidden_tag() }}
                {{ render_field(removeform.characters) }}
                {{ render_field(removeform.submit) }}
            </form>
        </div>
        {% endif %}

    {% endblock %}