{% extends "base.html" %}
{% block content %}
<style>
    .hidden {
        display: none !important;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script>
    const game_id = {{ game.id }};
    const heroku = {{ heroku|tojson}};
    const players = {{ players|tojson }};
</script>
<script src="{{ url_for('static', filename='js/edit_game.js') }}"></script>
<img src="{{game.image}}">
<div class="container">
    <div class="app-container">
        <h1>{{game.name}}:</h1>

        <div class="game">
            <h2>Edit Game:</h2>


            <form enctype="multipart/form-data" method='POST'>
                <div class="row checkbox">
                    {{ form_edit.published (data_published=game.published|string) }}
                    {{ form_edit.published.label }}
                </div>
                <a href="#" data-change_name="button" class="button primary">Change Name</a>
                <div data-change_name="input" class="row hidden">
                    {{ form_edit.hidden_tag() }}
                    {{ form_edit.name.label }}
                    {{ form_edit.name }}
                </div>
                <a href="#" data-change_img="button" class="button primary">Change Image</a>

                <div class="row hidden" data-change_img="input">
                    {{ form_edit.img.label }}
                    {{ form_edit.img }}
                </div>
                <div class="row">
                    {{ form_edit.edit_submit (class="button primary") }}
                </div>
            </form>
            {% if players %}
                
            <h2>Manage Players:</h2>
            <div>
                <a href="#" class="button primary" data-remove_player="button">Remove Player</a>
                <a href="#" class="button primary" data-remove_character="button">Remove Character</a>
            </div>
            <form class="hidden" data-flag="remove_player">
                <h2> Select player to remove player from {{game.name}} </h2>
                <div class="row">
                    {{ form_players.players.label }}
                    {{ form_players.players}}
                </div>
                <div class="row">
                    <a href="#" class="button primary" data-flag="remove_player_select_button">Remove Player</a>
                    <a href="#" class="button primary" data-flag="remove_player_cancel_button">Cancel</a>
                </div>
            </form method="POST">
            <div data-flag="remove_player_cont" class="confirm-form hidden">
                <form method="POST">
                    <h2 data-flag="remove_player_header"></h2>
                    <div class="row">
                        {{ form_players.player_id (data_flag="player_remove_hidden")}}
                        {{ form_players.player_submit (class="button primary") }}
                        <a href="#" class="button primary" data-flag="remove_player_cancel">Cancel</a>
                    </div>
                </form>
            </div>
            <form method="POST" class="hidden" data-flag="remove_character">
                <h2> Remove Character from {{game.name}} </h2>
                <div class="row">
                    {{ form_characters.characters.label }}
                    {{ form_characters.characters }}
                </div>
                <div class="row">
                    <a href="#" class="button primary" data-flag="remove_character_select_button">Remove Character</a>
                    <a href="#" class="button primary" data-flag="remove_character_cancel_button">Cancel</a>
                </div>
            </form>

            <div data-flag="remove_character_cont" class="confirm-form hidden">
                <form method="POST">
                    <h2 data-flag="remove_character_header"></h2>
                    <div class="row">
                        {{ form_characters.character_id (data_flag="character_remove_hidden")}}
                        {{ form_characters.character_submit (class="button primary") }}
                        <a href="#" class="button primary" data-flag="remove_character_cancel">Cancel</a>
                    </div>
                </form>
            </div>
            {% endif %}

            {% if heir %}
            <h2>Transfer Ownership:</h2>
            <p>Transfer the role of dm to one of your players.</p>
            <form>
                <div data-flag="init" class="row">
                    {{ form_transfer.transfer_init (class="button primary")}}
                </div>
            </form>
            <form class="hidden">
                <h3>Who will become the new owner?</h3>
                <h4>You will no longer be able to access this game's settings.</h4>
                <h4>This can only be undone by the person you give the role to.</h4>

                <div data-flag="heir" class="hidden row">
                    {{ form_transfer.heir.label }}
                    {{ form_transfer.heir }}
                </div>
                <div data-flag="transfer" class="hidden row">
                    {{ form_transfer.transfer_transfer (class="button primary") }}
                </div>
            </form>
            <div data-flag="transfer_form_cont" class="confirm-form hidden">
                <form>
                    <h2 data-flag="transfer_header"></h2>
                    <div class="row">
                        {{ form_transfer.transfer_player.label }}
                        {{ form_transfer.transfer_player }}
                    </div>
                    <div class="row">
                        {{ form_transfer.transfer_game.label}}
                        {{ form_transfer.transfer_game}}
                    </div>
                    <div class="row">
                        {{ form_transfer.transfer_confirm (class="button primary") }}
                    </div>
                </form>
            </div>


            {% endif %}
            <h2>End Game:</h2>
            <p>This will put your game into a "read only" state.</p>
            <p>participants will still be able to access the game, but will no longer be able to make changes.</p>
            <form method='POST'>
                <div class="row">
                    {{ form_end.end_init (class="button primary") }}
                </div>
            </form>
            <form class="hidden confirm-form">
                <h2>Make {{game.name}} an archive?</h2>
                <h3>This can be undone.</h3>
                {{ form_end.end_confirm (class="button primary") }}
            </form>

            <h2>Delete Game:</h2>
            <p>this will permanently delete the game and remove it forever from the database.</p>
            <p>This cannot be undone.</p>
            <form method='POST'>
                <div class="row">
                    {{ form_delete.game_delete_submit (class="button primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}