{% extends 'main/base.html' %}
{% block content %}

<div class="container">
    <div class="form-container">
        <form action="">
            <h1>Account Details:</h1>
            <div class="row">
                <label>Name: {{user.name}}</label>
            </div>
            <div class="row">
                <label>Email: {{user.email}}</label>
            </div>
            <div class="row">
                <a href="{{url_for('edit.account') }}">Edit/delete account</a>
            </div>
            
        </form>
    </div>   
</div>
{% endblock %}