{% extends "main/base.html" %}
{% block content %}
<div class="container">
    <div class="app-container">
        {% if my_characters %}
        <h1>Your Characters</h1>
        <div class="characters">
            {% for character in my_characters %}

            <div class="character">
                
                <div class="image-container">
                    <img src="{{ character.image }}">
                </div>
                
                <h2>{{ character.name }} <a href="{{ url_for('edit.character', character_id = character.id) }}">Edit</a></h2>
                <p>{{ character.bio }}</p>
            </div>

            {% endfor %}
        </div>

        {% else %}
            <p>You don't appear to have created any characters yet.</p>
            <a href="{{ url_for('create.character') }}"><h1>Create a new character:</h1></a>
        {% endif %}
        <a class="new-game button primary" href="{{ url_for('create.character') }}">
            <span class="far fa-plus-square"></span> Create a new character:
        </a>
    </div>
    
</div>
{% endblock %}



