{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="app-container">

            <h1>Your Stuff</h1>
            <h1>This is an early alpha. We'll make this area look better soon!</h1>
        <div class="games">


            <a class="new-game button primary" href="{{ url_for('profile.account') }}">
                <span class="fas fa-search-location"></span> Account
            </a>

            <a class="new-game button primary" href="{{ url_for('profile.characters') }}">
                <span class="fas fa-search-location"></span> Characters
            </a>

            <a class="new-game button primary" href="{{ url_for('profile.games') }}">
                <span class="fas fa-search-location"></span> Games
            </a>
        </div>            
    </div>
</div>

{% endblock %}
