{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="fas fa-times"></span></button>
        </p>   
        
    </div>
{% endfor %}
<div class="form-container">
    <form method='POST'>
        <h1>Permanently Delete Account</h1>
        <h2>To permantently delete account type in your email below and submit.</h2>
        <h2>There is no going back from this!</h2>

        <div class="row">
            {{ form.hidden_tag() }}
            {{ form.confirm.label }}
            {{ form.confirm (placeholder="email")}}
        </div>
        <div class="row">
            {{ form.user_delete_submit (class="button primary") }}
        </div>
    </form>
</div>


{% endblock %}