// // =============================================================================
// // 
// // Base application grid at all screen sizes
// // 
// // =============================================================================

.chronicler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: var(--mainBackground);
    background-size: cover;

    >header {
        padding: var(--sm);
        width: 100%;
    }

    >main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        flex-grow: 1;

        >.container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: var(--sm);

            max-width: $break2;

            @media screen and (min-width: $break1) {
                margin: var(--xl);
            }
        }
    }

    >footer {
        width: 100%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        min-height: 100%;

        max-width: $break2;

        @media screen and (min-width: $break2) {
            margin: 0 auto;
        }
    }

    .find_create_container {
        padding: var(--xxl);

        display: grid;

        @media screen and (min-width: $break1) {
            grid-template-columns: 1fr 1fr;
            grid-gap: var(--md);
        }

    }

}