// // =============================================================================
// // 
// // Notes Functionality Styles
// // 
// // =============================================================================

.game-container {
    background: url(../images/dm_games.jpeg) center center no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    flex-grow: 1;

    overflow-y: scroll;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    h1 {
        --headlineColor: var(--reverse);
        --textBorderShadow: 2px 2px 0 $brand;

        text-align: center;
        @include size-1();
        font-family: $display;
        font-weight: 700;

        text-shadow: var(--textBorderShadow);
        margin: 0 0 var(--md) 0;
    }
}

.new-session {
    margin: 0 0 var(--md) 0;
    align-self: flex-start;
}

.notes-container {

    display: flex;
    min-width: 100%;

    @media screen and (max-width: $break2) {
        flex-wrap: wrap;
    }

    .session-log {



        position: relative;
        z-index: 0;
        height: max-content;
        width: 100%;

        @media screen and (min-width: $break2) {
            width: unset;
        }

        background: var(--secondaryBoxBackground);
        padding: var(--sm) var(--lg);
        border-radius: var(--boxBorderRadius);
        -webkit-box-shadow: var(--boxShadow);
        box-shadow: var(--boxShadow);

        --headlineColor: var(--reverse);
        --copyColor: var(--reverse);

        &:after {

            content: "";
            position: absolute;
            display: block;
            width: 100%;
            background: var(--secondaryBoxBackground);
            height: var(--xxl);
            top: calc(100% - var(--lg));
            left: 0;    

            @media screen and (min-width: $break2) {
             
                width: var(--xxl);
                height: 100%;
                left: calc(100% - var(--lg));
                top: 0;

            }
        }

        h2 {
            @include size-3();
            font-family: $display;
            font-weight: 600;
            white-space: nowrap;

        }

        .sessions-list {
            li {
                margin: var(--xs) 0;

                &:hover, &.current {
                    cursor: pointer;
                    --reverse: #{$brand};
                }

                h4 {
                    @include size-5();
                    font-family: $display;
                    font-weight: 400;
                    color: var(--reverse);
                }
                h2 {
                    @include size-4();
                    font-family: $display;
                    font-weight: 400;
                    color: var(--reverse);
                    max-width: 20ch;
                }
            }
        }
    }

    .notes {
        position: relative;
        z-index: 1;
        padding-top: var(--lg);
        overflow: hidden;

        background: var(--boxBackground);
        
        border-radius: var(--boxBorderRadius);
        -webkit-box-shadow: var(--boxShadow);
        box-shadow: var(--boxShadow);
        flex-grow: 1;

        > h2 {
            margin: var(--sm) var(--lg) 0 var(--lg);
            @include size-5();
        }

        .comment-container {
            margin: 0 var(--lg) var(--sm) var(--lg);
        }
    }
}

form.wysiwyg-form {
    box-shadow: none;
    border: none;
    padding: 0;

    background: var(--boxBackground);


        grid-template-columns: 1fr;
    width: 100%;
    margin: 0;

    &:not(.hidden) {
        display: grid;
    }

    @media screen and (min-width: $break1) {
        grid-template-columns: 2fr 1fr;
    }

    .ql-container.ql-snow,
    .ql-toolbar.ql-snow {
        border: 1px solid var(--border3);
    }
    .ql-editor.ql-blank::before {
        color: var(--inputPlaceholder);
    }

    .ql-toolbar {
        background: var(--reverse);
    }

    .ql-container {
        background: var(--boxBackground);
    }

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ql-toolbar {
        display: flex;
        align-items: baseline;

        button {
            margin: 0;
            padding: 0;
        }
    }

    .ql-container {
        height: var(--xxxl);
    }

    p {
        text-align: left;
    }

}

.session-container {
    > h2 {
        @include size-3();
        font-family: $display;
        margin: var(--sm) var(--lg) 0 var(--lg);
    }
}

.note_list {

    > li {
        position: relative;
        padding: var(--xs) 0;
        border: var(--border);

        &:nth-child(even) {
            background: var(--boxAlternateBackground);
        }

        .note-item {
            display: grid;
            grid-template-columns: max-content 1fr max-content;
        }

        .note_edit_menu {

            &:not(.hidden) {
                position: absolute;
                font-size: 0.8;
                top: 0;
                left: 0;
                width: 100%;
                background: var(--shroudBackground);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            

            ul {
                display: flex;
                gap: var(--sm);

                a {
                    color: $max;

                    &:hover {
                        color: $brand;
                    }
                }
            }
        }
    }


    .edit-note {
        display: flex;
        min-width: var(--lg);
        &:not(.active) {
            &:hover {
                text-decoration: none;
                color: var(--copyColor);
                cursor: pointer;
            }
        }
        .note_edit_button {
            display: none;
        }
    }
    .span_cont {
        &:hover {
            .edit-note {
                .note_edit_button {
                    display: flex;
                }
            }
        }

        form.wysiwyg-form {
            width: auto;
            margin: 0 var(--sm) 0 var(--xxxl);
            background: none;
            border-radius: none;
        }
    }

    .note-author {
        margin: 0 var(--sm) 0 var(--lg);
        .author-image {
            display: block;
            background-size: cover;
            background-position: top center;
            height: var(--xl);
            width: var(--xl);
            border-radius: 50%;
            border: 3px solid var(--border3);
        }
    }

    .note-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        h3 {
            @include size-4();
            font-family: $display;
            color: $brand;
            font-weight: 700;
        }
    }

    .note-ql {
        p, li {
            @include size-5();
            font-family: $serif;
            max-width: 75ch;

            span {
                &.ql-size-large {
                    font-size: 1.5em;
                }
                &.ql-size-huge {
                    font-size: 2.0em;
                }
            }

        }
        ol {
            li {
                list-style-type: decimal;
                padding: 0;
                margin: 0 0 0 var(--md);
            }
            
        }
        ul {
            li {
                list-style-type: disc;
                padding: 0;
                margin: 0 0 0 var(--md);
            }
            
        }
    }
}