// // =============================================================================
// // 
// // Top Nav Styles
// // 
// // =============================================================================

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	a {
		@include size-5();

	}

	ul {
		display: flex;

		&:first-child {
			li {
				margin-right: var(--sm);

				img {
					max-height: var(--xl);
				}
			}
		}
		&:last-child {
			li {
				margin-left: var(--sm);

				a {
					@include size-5();
					text-transform: uppercase;
					font-weight: 700;
				}

				&:first-child {
					a {
						color: var(--reverse);
					}
				}
			}
		}		
	}
}