.table{
  display: block;
  overflow-x: auto;
}

.test-table{
  margin-bottom: 50px;
}

.note_edit_button{
height: 1em;
}

.note_edit_menu {
display: none;
position: absolute;
z-index: 10;
}

.note_edit_menu--active {
display: block;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

.tasks {
list-style: none;
margin: 0;
padding: 0;
}

.task {
display: flex;
justify-content: space-between;
padding: 12px 0;
border-bottom: solid 1px #dfdfdf;
}

.task:last-child {
border-bottom: none;
}