.table{
  display: block;
  overflow-x: auto;
}

.test-table{
  margin-bottom: 50px;
}

.note_edit_button{
height: 1em;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

.note_list {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.span_cont {
  display: inline-flex;
  flex-wrap: nowrap;
}

.checkbox_span:hover {
  background-color: rgba(0, 0, 0, .1);
}

.note_edit_menu_link:hover {
  color: red;
}
.index_start_image {
  width: 100%;
}
.note_text {
  margin-left: .5em;
}
.find_create_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.welcome_message {
  text-align: center;
}

.index_img_container {
  text-align: center;
}

.games_grid_header {
  text-align: center;
}

.games_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.index_game_image {
  width: 100%;
}

body {
  background: red !important;
}