@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body .dark .field-text-body p,
body .dark .field-text-body h1,
body .dark .field-text-body h2,
body .dark .field-text-body h3,
body .dark .field-text-body h4,
body .dark .field-text-body h5,
body .dark .field-text-body li {
    color: white !important;
  }
}
button,
input[type=button],
input[type=reset],
input[type=submit], .button {
  font-family: "Grenze Gotisch", cursive;
  font-size: 1.3em;
  font-weight: 400;
  min-width: 0 !important;
  margin: 0;
  display: inline-block;
  padding: var(--xs) var(--lg);
  text-decoration: none;
  text-align: center;
  transition: all 0.15s ease;
  -webkit-appearance: none;
  background-color: var(--buttonBg);
  color: var(--buttonText);
  border: 0.125em solid var(--buttonBorder);
  border-radius: 0.188em;
}
@media (hover: hover) {
  button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover, .button:hover {
    cursor: pointer;
    background-color: var(--buttonHoverBg);
    color: var(--buttonHoverText);
    border: 0.125em solid var(--buttonHoverBorder);
    text-decoration: none;
  }
}
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus, .button:focus, button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active, .button:active {
  background-color: var(--buttonHoverBg);
  color: var(--buttonHoverText);
  border: 0.125em solid var(--buttonHoverBorder);
}
@media only print {
  button,
input[type=button],
input[type=reset],
input[type=submit], .button {
    display: none !important;
  }
}

.button.primary {
  --buttonBg: var(--primaryButtonBg);
  --buttonBorder: var(--primaryButtonBorder);
  --buttonText: var(--primaryButtonText);
  --buttonHoverBg: var(--primaryButtonHoverBg);
  --buttonHoverText: var(--primaryButtonHoverText);
  --buttonHoverBorder: var(--primaryButtonHoverBorder);
}

.button.secondary {
  --buttonBg: var(--secondaryButtonBg);
  --buttonBorder: var(--secondaryButtonBorder);
  --buttonText: var(--secondaryButtonText);
  --buttonHoverBg: var(--secondaryButtonHoverBg);
  --buttonHoverText: var(--secondaryButtonHoverText);
  --buttonHoverBorder: var(--secondaryButtonHoverBorder);
}

:root {
  --headlineColor: #455264;
  --headlineColorReverse: white;
  --headlineLinkColor: black;
  --copyColor: #212936;
  --linkColor: #6dc6af;
  --reverse: white;
  /** Alerts, disabled, and errors **/
  --disabled: #b5bac1;
  --error: red;
  --accentColor: #b5bac1;
  --alertCopy: black;
  /** Borders **/
  --border1: rgba(219, 222, 224, 0.5);
  --border2: #dadce0;
  --border3: #b5bac1;
  --accentBorder: transparent;
  --boxBorderRadius: var(--md);
  /** Inputs **/
  --formBackground: white;
  --inputTextColor: white;
  --inputPlaceholder: #dadce0;
  --inputBackground: #2e3a49;
  --inputBorderColor: #2e3a49;
  --inputFocusBorder: #6dc6af;
  /** Buttons **/
  --buttonBorderRadius: var(--xs);
  --primaryButtonBg: #6dc6af;
  --primaryButtonBorder: #6dc6af;
  --primaryButtonText: black;
  --primaryButtonHoverBg: white;
  --primaryButtonHoverBorder: #6dc6af;
  --primaryButtonHoverText: #6dc6af;
  --secondaryButtonBg: #8f97a2;
  --secondaryButtonBorder: #8f97a2;
  --secondaryButtonText: black;
  --secondaryButtonHoverBg: white;
  --secondaryButtonHoverBorder: #6dc6af;
  --secondaryButtonHoverText: #6dc6af;
  /** Layout Regions **/
  --headerBackground: #b5bac1;
  --mainBackground: url(../images/chronicler-chrome-bg-light.jpg) 0 0 no-repeat;
  --footerBackground: #6a7583;
  /** Boxes **/
  --boxBackground: white;
  --boxAlternateBackground: #ddf2ec;
  --boxHoverBackground: #dadce0;
  --textShadow: 1px 1px 3px rgba(0,0,0,0.3);
  --textBorderShadow: 1px 1px 0 rgba(0,0,0,1);
  --boxShadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
  --secondaryBoxBackground: #455264;
  /** Modal **/
  --shroudBackground: rgba(0,0,0,0.6);
}

:root {
  /* ************************************ */
  /* ************************************ */
  --spacing: 0.5rem;
  --xxxl: calc(var(--spacing) * 9);
  --xxl: calc(var(--spacing) * 6);
  --xl: calc(var(--spacing) * 4);
  --lg: calc(var(--spacing) * 3);
  --md: calc(var(--spacing) * 2);
  --sm: calc(var(--spacing) * 1.5);
  --xs: calc(var(--spacing) * 1);
  --xxs: calc(var(--spacing) * .5);
  --xxxs: calc(var(--spacing) * .25);
}
@media screen and (min-width: 31.25em) {
  :root {
    --spacing: 1rem;
    --xxxl: calc(var(--spacing) * 6);
    --xxl: calc(var(--spacing) * 4);
    --xl: calc(var(--spacing) * 3);
    --lg: calc(var(--spacing) * 2);
    --md: calc(var(--spacing) * 1.5);
    --sm: calc(var(--spacing) * 1);
    --xs: calc(var(--spacing) * .75);
    --xxs: calc(var(--spacing) * .5);
    --xxxs: calc(var(--spacing) * .25);
  }
}
@media screen and (min-width: 96.625em) {
  :root {
    --spacing: 1.125rem;
  }
}

/* ************************************ */
/* ************************************ */
@media screen and (min-width: 31.25em) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (min-width: max-width 31.188em) {
  .no-mobile {
    display: none !important;
  }
}

/* ************************************ */
/* ************************************ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #455264;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
}
a,
a:link,
a:visited {
  transition: all 0.3s ease;
  color: var(--linkColor);
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

a:focus {
  color: blue;
  color: var(--linkColor);
}

pre {
  font-family: monospace;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

p {
  font-family: "PT Serif", serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 0.688em;
  letter-spacing: 0;
  line-height: 1.333;
}
p b,
p strong {
  font-weight: 700;
}
p em, p i {
  font-style: italic;
}
p strong i,
p strong em,
p b i,
p b em {
  font-weight: 700;
  font-style: italic;
}

ul,
li,
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--md);
  background: var(--formBackground);
  padding: var(--sm) var(--lg);
  border-radius: var(--boxBorderRadius);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}
form .row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
}
form .row.checkbox, form .row.radio, form .row.button-row {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
form h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 2.25em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "Grenze Gotisch", cursive;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 31.25em) {
  form h1 {
    font-size: 2.54em;
  }
}
form h1 b,
form h1 strong {
  font-weight: 700;
}
form h1 em, form h1 i {
  font-style: italic;
}
form h1 strong i,
form h1 strong em,
form h1 b i,
form h1 b em {
  font-weight: 700;
  font-style: italic;
}
form h6 {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.333;
}
form h6 b,
form h6 strong {
  font-weight: 700;
}
form h6 em, form h6 i {
  font-style: italic;
}
form h6 strong i,
form h6 strong em,
form h6 b i,
form h6 b em {
  font-weight: 700;
  font-style: italic;
}
form p {
  font-family: "Urbanist", sans-serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.333;
  color: var(--copyColor);
  margin: 0;
  text-align: center;
}
form p b,
form p strong {
  font-weight: 700;
}
form p em, form p i {
  font-style: italic;
}
form p strong i,
form p strong em,
form p b i,
form p b em {
  font-weight: 700;
  font-style: italic;
}
form a {
  color: var(--linkColor);
  font-weight: 700;
}

/* ------------------- */
/* Form Styles
/* ----------------- */
button,
input,
optgroup,
select,
keygen::-webkit-keygen-select,
select[_moz-type=-mozilla-keygen],
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  margin-top: var(--sm);
}

label {
  display: block;
  font-family: "Urbanist", sans-serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.333;
}
label b,
label strong {
  font-weight: 700;
}
label em, label i {
  font-style: italic;
}
label strong i,
label strong em,
label b i,
label b em {
  font-weight: 700;
  font-style: italic;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

textarea {
  line-height: 1.25em;
}

select {
  border: var(--inputBorderColor);
  background-color: var(--inputBackground);
  color: var(--inputTextColor);
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 var(--xs) 0 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=month],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=week],
input[type=number],
input[type=search],
input[type=tel],
input[type=color],
select[_moz-type=-mozilla-keygen],
keygen::-webkit-keygen-select,
select,
textarea {
  font-family: "Urbanist", sans-serif;
  border: 1px solid var(--inputBorderColor);
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: var(--xxs) var(--xs);
  margin: 0;
  background: var(--inputBackground);
  color: var(--inputTextColor);
  color: white;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
select[_moz-type=-mozilla-keygen]:focus,
keygen::-webkit-keygen-select:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--inputFocusBorder);
}

input[type=color] {
  padding: 0;
}

input:not([type]) {
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0.6em;
}

input[type=color] {
  padding: 0.2em 0.5em;
}

*:focus {
  outline: none;
}

.chronicler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: var(--mainBackground);
  background-size: cover;
}
.chronicler > header {
  padding: var(--sm);
  width: 100%;
}
.chronicler > main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}
.chronicler > main > .container, .chronicler > main .game-container > .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--sm);
  max-width: 120em;
}
@media screen and (min-width: 31.25em) {
  .chronicler > main > .container, .chronicler > main .game-container > .container {
    margin: var(--xl);
  }
}
.chronicler > footer {
  width: 100%;
}
.chronicler .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 100%;
  max-width: 120em;
}
@media screen and (min-width: 120em) {
  .chronicler .container {
    margin: 0 auto;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav a {
  font-family: "Urbanist", sans-serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.333;
}
nav a b,
nav a strong {
  font-weight: 700;
}
nav a em, nav a i {
  font-style: italic;
}
nav a strong i,
nav a strong em,
nav a b i,
nav a b em {
  font-weight: 700;
  font-style: italic;
}
nav a.home-logo {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 2.25em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  color: var(--reverse);
  text-shadow: var(--textShadow);
}
@media screen and (min-width: 31.25em) {
  nav a.home-logo {
    font-size: 2.54em;
  }
}
nav a.home-logo b,
nav a.home-logo strong {
  font-weight: 700;
}
nav a.home-logo em, nav a.home-logo i {
  font-style: italic;
}
nav a.home-logo strong i,
nav a.home-logo strong em,
nav a.home-logo b i,
nav a.home-logo b em {
  font-weight: 700;
  font-style: italic;
}
nav ul {
  display: flex;
}
nav ul:first-child li {
  margin-right: var(--sm);
}
nav ul:last-child li {
  margin-left: var(--sm);
}
nav ul:last-child li a {
  font-family: "Urbanist", sans-serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.333;
  text-transform: uppercase;
  font-weight: 700;
}
nav ul:last-child li a b,
nav ul:last-child li a strong {
  font-weight: 700;
}
nav ul:last-child li a em, nav ul:last-child li a i {
  font-style: italic;
}
nav ul:last-child li a strong i,
nav ul:last-child li a strong em,
nav ul:last-child li a b i,
nav ul:last-child li a b em {
  font-weight: 700;
  font-style: italic;
}
nav ul:last-child li:first-child a {
  color: var(--reverse);
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: var(--md);
  background: var(--boxBackground);
  padding: var(--sm) var(--lg);
  border-radius: var(--boxBorderRadius);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  min-width: 100%;
}
.app-container h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 2.25em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "Grenze Gotisch", cursive;
  font-weight: 700;
  text-align: center;
  max-width: none;
}
@media screen and (min-width: 31.25em) {
  .app-container h1 {
    font-size: 2.54em;
  }
}
.app-container h1 b,
.app-container h1 strong {
  font-weight: 700;
}
.app-container h1 em, .app-container h1 i {
  font-style: italic;
}
.app-container h1 strong i,
.app-container h1 strong em,
.app-container h1 b i,
.app-container h1 b em {
  font-weight: 700;
  font-style: italic;
}
.app-container .games {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 31.25em) {
  .app-container .games {
    grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
    grid-auto-flow: row;
    grid-gap: var(--sm) var(--sm);
  }
}
.app-container .games .game ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: var(--sm) 0;
}
.app-container .games .game ul li {
  margin: 0;
  padding: var(--xs);
  background: var(--boxBackground);
  transition: all 0.3s ease;
}
.app-container .games .game ul li:nth-child(even) {
  background: var(--boxAlternateBackground);
}
.app-container .games .game ul li:hover {
  background: var(--boxHoverBackground);
  cursor: pointer;
}
.app-container .games .game ul a {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 1.763em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "Grenze Gotisch", cursive;
  color: var(--copyColor);
  font-weight: 900;
}
.app-container .games .game ul a b,
.app-container .games .game ul a strong {
  font-weight: 700;
}
.app-container .games .game ul a em, .app-container .games .game ul a i {
  font-style: italic;
}
.app-container .games .game ul a strong i,
.app-container .games .game ul a strong em,
.app-container .games .game ul a b i,
.app-container .games .game ul a b em {
  font-weight: 700;
  font-style: italic;
}
.app-container .games .game ul a:hover {
  text-decoration: none;
}
.app-container .games .game ul a img {
  max-height: var(--xl);
  margin: 0 var(--sm) 0 0;
}
.app-container .game h2, .app-container .welcome h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 1.763em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "PT Serif", serif;
  font-weight: 700;
}
.app-container .game h2 b,
.app-container .game h2 strong, .app-container .welcome h2 b,
.app-container .welcome h2 strong {
  font-weight: 700;
}
.app-container .game h2 em, .app-container .game h2 i, .app-container .welcome h2 em, .app-container .welcome h2 i {
  font-style: italic;
}
.app-container .game h2 strong i,
.app-container .game h2 strong em,
.app-container .game h2 b i,
.app-container .game h2 b em, .app-container .welcome h2 strong i,
.app-container .welcome h2 strong em,
.app-container .welcome h2 b i,
.app-container .welcome h2 b em {
  font-weight: 700;
  font-style: italic;
}
.app-container .game h2 span, .app-container .welcome h2 span {
  font-family: "Grenze Gotisch", cursive;
  font-weight: 900;
}
.app-container .game p, .app-container .welcome p {
  font-family: "Urbanist", sans-serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.333;
}
.app-container .game p b,
.app-container .game p strong, .app-container .welcome p b,
.app-container .welcome p strong {
  font-weight: 700;
}
.app-container .game p em, .app-container .game p i, .app-container .welcome p em, .app-container .welcome p i {
  font-style: italic;
}
.app-container .game p strong i,
.app-container .game p strong em,
.app-container .game p b i,
.app-container .game p b em, .app-container .welcome p strong i,
.app-container .welcome p strong em,
.app-container .welcome p b i,
.app-container .welcome p b em {
  font-weight: 700;
  font-style: italic;
}
.app-container .welcome {
  text-align: center;
}
.app-container .new-game {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--md);
}
.app-container .new-game a {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 1.763em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "Grenze Gotisch", cursive;
  font-weight: 900;
  color: var(--linkColor);
  border-radius: var(--buttonBorderRadius);
  padding: var(--sm) var(--md);
  transition: all 0.3s ease;
}
.app-container .new-game a b,
.app-container .new-game a strong {
  font-weight: 700;
}
.app-container .new-game a em, .app-container .new-game a i {
  font-style: italic;
}
.app-container .new-game a strong i,
.app-container .new-game a strong em,
.app-container .new-game a b i,
.app-container .new-game a b em {
  font-weight: 700;
  font-style: italic;
}
.app-container .new-game a:hover {
  text-decoration: none;
  background: var(--boxHoverBackground);
}

.shroud {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--shroudBackground);
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  background: var(--formBackground);
  overflow: hidden;
  border-radius: var(--boxBorderRadius);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  max-width: 31.25em;
}
.modal img {
  width: 100%;
}
.modal .content {
  padding: var(--sm) var(--lg);
  text-align: center;
}
.modal .content h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 1.763em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "Grenze Gotisch", cursive;
  font-weight: 700;
  max-width: 35ch;
}
.modal .content h2 b,
.modal .content h2 strong {
  font-weight: 700;
}
.modal .content h2 em, .modal .content h2 i {
  font-style: italic;
}
.modal .content h2 strong i,
.modal .content h2 strong em,
.modal .content h2 b i,
.modal .content h2 b em {
  font-weight: 700;
  font-style: italic;
}
.modal .content h2 span {
  font-family: "Grenze Gotisch", cursive;
  font-weight: 900;
}
.modal .content p {
  font-family: "Urbanist", sans-serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.333;
}
.modal .content p b,
.modal .content p strong {
  font-weight: 700;
}
.modal .content p em, .modal .content p i {
  font-style: italic;
}
.modal .content p strong i,
.modal .content p strong em,
.modal .content p b i,
.modal .content p b em {
  font-weight: 700;
  font-style: italic;
}
.modal .content a {
  color: var(--copyColor);
}
.modal .button-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sm);
  margin: var(--sm) 0;
  align-items: center;
  justify-content: center;
}

.game-container {
  background: url(../images/dm_games.jpeg) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.game-container h1 {
  --headlineColor: var(--reverse);
  --textBorderShadow: 2px 2px 0 $brand;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 2.54em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "Grenze Gotisch", cursive;
  font-weight: 700;
  text-shadow: var(--textBorderShadow);
  margin: 0 0 var(--md) 0;
}
@media screen and (min-width: 31.25em) {
  .game-container h1 {
    font-size: 3.322em;
  }
}
.game-container h1 b,
.game-container h1 strong {
  font-weight: 700;
}
.game-container h1 em, .game-container h1 i {
  font-style: italic;
}
.game-container h1 strong i,
.game-container h1 strong em,
.game-container h1 b i,
.game-container h1 b em {
  font-weight: 700;
  font-style: italic;
}

.new-session {
  margin: 0 0 var(--md) 0;
  align-self: flex-start;
}

.notes-container {
  display: flex;
  min-width: 100%;
}
.notes-container .session-log {
  position: relative;
  z-index: 0;
  height: max-content;
  background: var(--secondaryBoxBackground);
  padding: var(--sm) var(--lg);
  border-radius: var(--boxBorderRadius);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  --headlineColor: var(--reverse);
  --copyColor: var(--reverse);
}
.notes-container .session-log:after {
  content: "";
  position: absolute;
  display: block;
  width: var(--xxl);
  background: var(--secondaryBoxBackground);
  height: 100%;
  left: calc(100% - var(--lg));
  top: 0;
}
.notes-container .session-log h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 1.763em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "Grenze Gotisch", cursive;
  font-weight: 600;
}
.notes-container .session-log h2 b,
.notes-container .session-log h2 strong {
  font-weight: 700;
}
.notes-container .session-log h2 em, .notes-container .session-log h2 i {
  font-style: italic;
}
.notes-container .session-log h2 strong i,
.notes-container .session-log h2 strong em,
.notes-container .session-log h2 b i,
.notes-container .session-log h2 b em {
  font-weight: 700;
  font-style: italic;
}
.notes-container .notes {
  position: relative;
  z-index: 1;
  background: var(--boxBackground);
  padding: var(--sm) var(--lg);
  border-radius: var(--boxBorderRadius);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  flex-grow: 1;
}
.notes-container .notes > h2 {
  font-family: "Urbanist", sans-serif;
  color: var(--copyColor);
  font-weight: 500;
  font-stretch: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.333;
}
.notes-container .notes > h2 b,
.notes-container .notes > h2 strong {
  font-weight: 700;
}
.notes-container .notes > h2 em, .notes-container .notes > h2 i {
  font-style: italic;
}
.notes-container .notes > h2 strong i,
.notes-container .notes > h2 strong em,
.notes-container .notes > h2 b i,
.notes-container .notes > h2 b em {
  font-weight: 700;
  font-style: italic;
}

form#test_form_quill {
  box-shadow: none;
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 31.25em) {
  form#test_form_quill {
    grid-template-columns: 2fr 1fr;
  }
}
form#test_form_quill .form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form#test_form_quill .ql-toolbar {
  display: flex;
  align-items: baseline;
}
form#test_form_quill .ql-toolbar button {
  margin: 0;
  padding: 0;
}
form#test_form_quill .ql-container {
  height: var(--xxxl);
}
form#test_form_quill p {
  text-align: left;
}

.session-container > h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 1.763em;
  letter-spacing: -0.019em;
  line-height: 1.085;
  color: var(--headlineColor);
  font-family: "Grenze Gotisch", cursive;
  margin: var(--sm) 0 var(--lg) 0;
}
.session-container > h2 b,
.session-container > h2 strong {
  font-weight: 700;
}
.session-container > h2 em, .session-container > h2 i {
  font-style: italic;
}
.session-container > h2 strong i,
.session-container > h2 strong em,
.session-container > h2 b i,
.session-container > h2 b em {
  font-weight: 700;
  font-style: italic;
}

.note_list li {
  padding: var(--xs) 0;
  border: var(--border);
}
.note_list .edit-note {
  display: none;
  width: var(--lg);
}
.note_list .span_cont:hover .edit-note {
  display: flex;
}