
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="container">
                <div class="alert alert-dismissible fade show" role="alert">
                    <p>
                        {{ message }}
                        <button type="button" id="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="fas fa-times"></span></button>
                    </p>
                    
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
