// // =============================================================================
// // Theme initiation stack
// //
// // Tippy tippy top of the theme, where initial values are made available
// // =============================================================================

$support-for: (
  ie: 9, '*': -4
);

// BASE FONT VARIALBES

$base-font-size: 16px; // The font size set on the root html element.
$base-line-height: 1.500em; // This line-height determines the basic unit of vertical rhythm.

//@import "variables";
//@import "mixins";