// // =============================================================================
// // Breakpoint Variables
// //
// // These determine the major breakpoints used most consistently throughout
// // your site. They are used with the breakpoint-sass mixin.
// // =============================================================================

$break1: 31.250em;  //500pixel
$break2: 48.438em;  //775pixel    
$break3: 120em;		//1920pixel
$break4: 120em;

//499 pixel for use in max-width media queries
$break1Max: 31.188em;

$sizing1: 73.813em; //1181pixel --13.46 min body copy
$sizing2: 96.625em; //1545pixel --17pt max body copy

$mobile: max-width $break1Max;

$navHeight: calc(var(--spacing) * 13.5);

//never ship with this
$test: rgba(255,0,0,0.3);

//font weights
$lite: 'robotolight', Helvetica, Arial, sans-serif;
$liteitalic: 'robotothinitalic', Helvetica, Arial, sans-serif;
$regularitalic: 'robotoregularitalic', Helvetica, Arial, sans-serif;
$italic: 'robotoitalic', Helvetica, Arial, sans-serif;
$bolditalic: 'robotoiboldtalic', Helvetica, Arial, sans-serif;
$blackitalic: 'robotoiblacktalic', Helvetica, Arial, sans-serif;

$reg: 'robotoregular', Helvetica, Arial, sans-serif;
$med: 'robotomedium', Helvetica, Arial, sans-serif;
$bold: 'robotobold', Helvetica, Arial, sans-serif;
$black: 'robotoblack', Helvetica, Arial, sans-serif;
$courier: monospace;

$sans: 'Urbanist', sans-serif;
$serif: 'PT Serif', serif;
$display: 'Grenze Gotisch', cursive;

//icon font
$icon: 'FontAwesome';


// // =============================================================================
// // Brand Colors
// //
// // Declare brand colors as SCSS variables
// // =============================================================================

$brand: rgba(109, 198, 175, 1);
$brand_surface: rgba(221, 242, 236, 1);
$brand_dark: rgba(69, 170, 144, 1);
$transparent:	rgba(0, 0, 0, 0);

//Gray Scale
$max: rgba(255,255,255,1);
$gray_surface: rgba(219, 222, 224, 0.5);  //gray1
$gray_lightest: rgba(218, 220, 224 ,1); //gray2
$gray_lighter: rgba(181, 186, 193 ,1);  //gray3
$gray_light: rgba(143, 151, 162 ,1);
$gray: rgba(106, 117, 131 ,1);
$gray_dark: rgba(69, 82, 100 ,1);
$gray_darker: rgba(46, 58, 73 ,1);
$gray_darkest: rgba(33, 41, 54 ,1);
$min: rgba(0,0,0,1);

//text defaults
$body_copy: $gray_dark;
$link: blue;

$base-font-family: $reg;
$mono-stack: $courier;


// // =============================================================================
// // Global Spacing Variables
// //
// // SCSS variables for IE11 and dumber browsers
// // =============================================================================

//base unit for Ie11
$sm:  1rem;

//calculations for Ie11
$xxxl: $sm * 6;
$xxl: $sm * 4;
$xl:  $sm * 3;
$lg:  $sm * 2;
$md:  $sm * 1.5;
$xs:  $sm * .75;
$xxs: $sm * .5;
$xxxs: $sm * .25;


// // =============================================================================
// // 
// // Base elements for calculating spacing
// // 
// // =============================================================================
$size-unit-mobile: 0.5rem;
$size-unit-variable: 1rem;
$size-unit-max: 1.125rem;
