<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
// Core variables
var user_id = {{current_user.id}}
, dm_id = {{ game.dm_id }}
, game_id = {{id}}
, js_dict = JSON.parse({{js_note_dict|tojson }});
</script>
<script src="{{ url_for('static', filename='js/notes/variables.js') }}"></script>

<script src="{{ url_for('static', filename='js/notes/quill_session.js') }}"></script>
<script src="{{ url_for('static', filename='js/notes/general.js') }}"></script>
<script src="{{ url_for('static', filename='js/notes/socket_on.js') }}"></script>
<script src="{{ url_for('static', filename='js/notes/new_session.js') }}"></script>
<script src="{{ url_for('static', filename='js/notes/new_note.js') }}"></script>
<script src="{{ url_for('static', filename='js/notes/note_editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/notes/session_display.js') }}"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{{ url_for('static', filename='js/notes/main.js') }}"></script>

<script type="text/javascript" charset="utf-8">

document.addEventListener("DOMContentLoaded", function() {

    let note_session = 0;

    // set the current session in the loop
    {% for session in session_titles %}
    
    // loop through each session's notes and place in the correct location
    if (note_session == {{session.number}}) {} else { note_session = {{session.number}} }

    // insert note
    insert_rich_note(note_session);

    {% endfor %}
    
    {% if game.dm_id == current_user.id %}
    init("DM");
    {% else %}
    init();
    {% endif %}
})
</script>