{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<div class="container">
    <form enctype="multipart/form-data" method='POST' action='/edit/character/{{character.id}}' autocomplete="off">
        <h1>{{character.name}}</h1>
        {{ editform.hidden_tag() }}
        {{ render_field(editform.name, value=character.name) }}
        <img style="height: 200px;" src="{{character.image}}")>
        {{ render_field(editform.img) }} 
        {{ render_field(editform.bio) }}
        {{ render_field(editform.submit) }}
    </form>
    <form method='POST' action='/edit/character/{{character.id}}' autocomplete="off">
        <h1>Delete {{character.name}}</h1>
        {{ delform.hidden_tag() }}
        {{ delform.char_name(value=character.name) }}
        {{ render_field(delform.confirm, placeholder="Confirm") }}
        {{ render_field(delform.submit) }}
    </form>
</div>
{% endblock %}