<div data-flag="formNewSession_container" class="hidden">
    <div class="shroud">
        <div class="modal-container">
            <div class="modal">
                <div class="content">
                    <h2>Session Info</h2>
                    <form data-flag="formNewSession_form">
                        <input data-flag="formNewSession_idGame" id='new_session_form_game_id' type='hidden' value='{{ id }}'>
                        <input data-flag="formNewSession_inputSessionNumber" required placeholder='Number (Required)' type='number' min='0'>
                        <input data-flag="formNewSession_inputSessionTitle" required placeholder='Title (Required)' type='text'>
                        <input data-flag="formNewSession_inputSessionSynopsis" type='text' placeholder='Synopsis'>
                        <input class="button primary" type='submit' value='Make Session'>
                        <input class="button secondary" type='button' data-flag="formNewSession_buttonCancel" value='Cancel'>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>