
<div data-contextMenuId="{{ note.id }}" data-flag="contextMenu" class="note_edit_menu hidden">
    <ul class="note_edit_menu_items">
        <li class="note_edit_menu_item">
            <a href="#" data-editChoices_id="{{ note.id }}" class="note_edit_menu_link button primary" data-id_note="{{ note.id }}" data-action="edit">
                Edit Note
            </a>
        </li>
        <li class="note_edit_menu_item">
            <a href="#" data-editChoices_id="{{ note.id }}" class="note_edit_menu_link button primary" data-id_note="{{ note.id }}" data-action="delete">
                Delete Note
            </a>
        </li>
    </ul>
</div>