
<div data-sessionContext_id="{{ session.id }}" data-flag="sessionEdit" data-flag="sessionContextMenu" class="note_edit_menu hidden">
    <ul class="note_edit_menu_items">
        <li class="note_edit_menu_item">
            <a href="#" data-editChoices_id="{{ session.id }}" class="note_edit_menu_link button primary" data-number_session="{{ session.number }}" data-action="edit">
                Edit Session
            </a>
        </li>
        <li class="note_edit_menu_item">
            <a href="#" data-editChoices_id="{{ session.id }}" class="note_edit_menu_link button primary" data-number_session="{{ session.number }}" data-action="delete">
                Delete Session
            </a>
        </li>
    </ul>
</div>