{% if character_list|length > 0 or game.id == bugs_id %}
<form class="wysiwyg-form <{% if game.id == bugs_id %} hidden{% endif %}" data-flag="newQuill_FormSession" id="test_form_quill">
    <div class="form-group">
        <input type="hidden" id='note_user_id' name='note_user_id' value='{{current_user.id}}'>
        <input type="hidden" id='note_game_id' name='note_game_id' value='{{id}}'>
        <!-- !bug page code (some in form class too) -->
        {% if game.id != bugs_id %}
            <h2>Speaking as:</h2>
            <select name="speaking_as">
                {% for character in character_list %}
                <option value="{{character.id}}" data-is_npc="{{character.is_npc}}">{{character.name}}</option>
                {% endfor %}
            </select>
        {% endif %}
        <!-- !end bugs -->



        <div id="Quill_sessionNew">
        </div>
    </div>
    <div class="form-group">
        <div class="row checkbox">
            <input type='checkbox' class="note_checkbox" data-flag="newQuillPrivate" name='note_private' value='False'>
            <label for='note_private'><strong>Draft</strong> - Visible only to you until published</label>
        </div>
        {% if current_user.id != game.dm_id %}
        <div class="row checkbox">
            <input type='checkbox' class="note_checkbox" data-flag="newQuillDm" name='note_to_dm' value='False'>
            <label for='note_to_dm'><strong>Privileged</strong>
                <!-- !bugs code -->
                {% if game.id == bugs_id %}
                - Visible only to you and Chronicler</label>
                {% else %}
                - Visible only to you and the DM</label>
                {% endif %}
                <!-- !end bugs -->
                
        </div>
        {% endif %}
        <div class="row button-row">
            <button class="button primary" type="submit">Submit</button>
        </div>
    </div>

</form>
{% else %}
<button><a href="{{url_for('join.joining', game_id=game.id, game_name=game.name)}}">Add Character to game</a></button>
{% endif %}