// // =============================================================================
// //
// // Global button styles for all types and states
// //
// // =============================================================================


:root {

	// $sass variables declared here

		--headlineColor: #{$gray_dark};
		--headlineColorReverse: #{$max};
		--headlineLinkColor: #{$min};
		--copyColor: #{$gray_darkest};
		--linkColor: #{$brand};
		--reverse: #{$max};

		/** Alerts, disabled, and errors **/
		--disabled:  #{$gray_lighter};
		--error: red;
		--accentColor: #{$gray_lighter};
		--alertCopy: #{$min};

		/** Borders **/
		--border1: #{$gray_surface};
		--border2: #{$gray_lightest};
		--border3: #{$gray_lighter};
		--accentBorder: transparent;
		--boxBorderRadius: var(--md);

		/** Inputs **/
		--formBackground: #{$max};
		--inputTextColor: #{$max};
		--inputPlaceholder: #{$gray_lightest};
		--inputBackground: #{$gray_darker};
		--inputBorderColor: #{$gray_darker};
		--inputFocusBorder: #{$brand};

		/** Buttons **/

		--buttonBorderRadius: var(--xs);

		--primaryButtonBg: #{$brand};
		--primaryButtonBorder: #{$brand};
		--primaryButtonText: #{$min};
		--primaryButtonHoverBg: #{$max};
		--primaryButtonHoverBorder: #{$brand};
		--primaryButtonHoverText: #{$brand};

		--secondaryButtonBg: #{$gray};
		--secondaryButtonBorder: #{$gray};
		--secondaryButtonText: #{$gray_darker};
		--secondaryButtonHoverBg: #{$max};
		--secondaryButtonHoverBorder: #{$brand};
		--secondaryButtonHoverText: #{$brand};

		--headerBackground: #{$gray_lighter};
		--mainBackground: url(../images/chronicler-chrome-bg-light.jpg) 0 0 no-repeat;
		--footerBackground: #{$gray};

		--boxBackground: #{$max};
		--boxAlternateBackground: #{$gray_surface};
		--boxHoverBackground: #{$gray_lightest};
		--textShadow: 1px 1px 3px rgba(0,0,0,0.3);
		--textBorderShadow: 1px 1px 0 rgba(0,0,0,1);
		--boxShadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
}
