// // =============================================================================
// //
// // Global button styles for all types and states
// //
// // =============================================================================


:root {

    // $sass variables declared here

    --headlineColor: #{$min};
    --headlineColorReverse: #{$max};
    --headlineLinkColor: #{$gray_dark};
    --copyColor: #{$gray_darkest};
    --linkColor: #{$brand};
    --reverse: #{$max};

    /** Alerts, disabled, and errors **/
    --disabled: #{$gray_lighter};
    --error: red;
    --accentColor: #{$accent};
    --alertCopy: #{$min};

    /** Borders **/
    --border1: #{$gray_surface};
    --border2: #{$gray_lightest};
    --border3: #{$gray_lighter};
    --accentBorder: transparent;
    --boxBorderRadius: var(--md);

    /** Inputs **/
    --formBackground: #{$max};
    --inputTextColor: #{$max};
    --inputPlaceholder: #{$gray_light};
    --inputBackground: #{$gray_darker};
    --inputBorderColor: #{$gray_darker};
    --inputFocusBorder: #{$brand};

    /** Buttons **/

    --buttonBorderRadius: var(--xs) / var(--xxs);

    --primaryButtonBg: #{$brand};
    --primaryButtonBorder: #{$brand};
    --primaryButtonText: #{$max};
    --primaryButtonHoverBg: #{$max};
    --primaryButtonHoverBorder: #{$brand};
    --primaryButtonHoverText: #{$brand};

    --secondaryButtonBg: #{$gray_light};
    --secondaryButtonBorder: #{$gray_light};
    --secondaryButtonText: #{$min};
    --secondaryButtonHoverBg: #{$max};
    --secondaryButtonHoverBorder: #{$brand};
    --secondaryButtonHoverText: #{$brand};

    /** Layout Regions **/

    --headerBackground: #{$gray_lighter};
    --mainBackground: url(../images/chronicler-chrome-bg-light.jpg) 0 0 no-repeat;
    --footerBackground: #{$gray};

    /** Boxes **/

    --boxBackground: #{$max};
    --boxAlternateBackground: #{$brand_surface};
    --boxHoverBackground: #{$gray_lightest};
    --textShadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    --textBorderShadow: 1px 1px 0 rgba(0, 0, 0, 1);
    --boxShadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);

    --secondaryBoxBackground: #{$gray_dark};

    /** Modal **/
    --shroudBackground: rgba(0, 0, 0, 0.6);

    .dark {
        --headlineColor: #{$max};
        --headlineColorReverse: #{$min};
        --headlineLinkColor: #{$gray_light};
        --copyColor: #{$gray_lightest};
        --linkColor: #{$brand_dark};
        --reverse: #{$gray_light};

        /** Alerts, disabled, and errors **/
        --disabled: #{$gray_darker};
        --errorColor: red;
        --accentColor: #{$accent_dark};
        --alertCopy: #{$max};

        /** Borders **/
        --border1: #{$gray_darkest};
        --border2: #{$gray_darker};
        --border3: #{$gray_dark};
        --accentBorder: transparent;

        /** Inputs **/
        --formBackground: #{$gray_dark};
        --inputTextColor: #{$min};
        --inputPlaceholder: #{$max};
        --inputBackground: #{$gray_light};
        --inputBorderColor: #{$gray_darker};
        --inputFocusBorder: #{$brand_dark};
        --labelColor: #{$gray_lighter};

        /** Buttons **/

        --buttonBorderRadius: var(--xs) / var(--xxs);

        --primaryButtonBg: #{$brand_dark};
        --primaryButtonBorder: #{$brand_dark};
        --primaryButtonText: #{$max} !important;
        --primaryButtonHoverBg: #{$min};
        --primaryButtonHoverBorder: #{$brand_dark};
        --primaryButtonHoverText: #{$brand_dark};

        --secondaryButtonBg: #{$gray_dark};
        --secondaryButtonBorder: #{$max};
        --secondaryButtonText: #{$max};
        --secondaryButtonHoverBg:  #{$min};
        --secondaryButtonHoverBorder: #{$brand_dark};
        --secondaryButtonHoverText: #{$brand_dark};


        /** Layout Regions **/

        --headerBackground: #{$gray_lighter};
        --mainBackground: url(../images/chronicler-chrome-bg-dark.jpg) 0 0 no-repeat;
        --footerBackground: #{$gray};

        /** Boxes **/

        --boxBackground: #{$gray_darker};
        --boxAlternateBackground: #{$gray_dark};
        --boxHoverBackground: #{$gray_dark};
        --textShadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        --textBorderShadow: 1px 1px 0 rgba(0, 0, 0, 1);
        --boxShadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);

        --secondaryBoxBackground: #{$gray_darkest};

        /** Modal **/
        --shroudBackground: rgba(0, 0, 0, 0.6);
    }

}